<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ตั้งค่า
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  (click)="moot1=!moot1">
    <ion-label style="font-size: 20px;">แก้ไขประวัติ</ion-label>
    <ion-icon name="arrow-dropdown" style="zoom: 2;"   [hidden]="moot1"></ion-icon>
    <ion-icon name="arrow-dropup"  style="zoom: 2;"   [hidden]="!moot1"></ion-icon>
  </ion-item>
  <div [hidden]="!moot1">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label color="primary">ชื่อโปรไฟล์ : </ion-label>
          <ion-input style="margin-left: -2px;" value="นายไตรรค์  จำปานิล"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" style="margin-left: 14px;">เบอร์โทร :</ion-label>
          <ion-input type="number" style="margin-left: -2px;" value="0854593243" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" style="margin-left: 36px;">อีเมล :</ion-label>
          <ion-input style="margin-left: -2px;" value="trairong.jampanil@gmail.com"></ion-input>
        </ion-item>
    <ion-button (click)="rawqueue()" style="height: 50px;margin-top: 10px;" expand="block" color="primary"><h1 style="margin-top:8px" >บันทึก</h1></ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-item  (click)="moot2=!moot2">
    <ion-label style="font-size: 20px;">โซเซียลมีเดีย</ion-label>
    <ion-icon name="arrow-dropdown" style="zoom: 2;"   [hidden]="moot2"></ion-icon>
    <ion-icon name="arrow-dropup"  style="zoom: 2;"   [hidden]="!moot2"></ion-icon>
  </ion-item>
  <div [hidden]="!moot2">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label color="primary" style="margin-left: 9px">Facebook : </ion-label>
          <ion-input style="margin-left: -2px;" value="Tr tong"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" style="margin-left: 3x;">Instragram :</ion-label>
          <ion-input type="number" style="margin-left: -2px;" value="0854593243" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" style="margin-left: 50px;">Line :</ion-label>
          <ion-input style="margin-left: -2px;" value="TR_TONG"></ion-input>
        </ion-item>
    <ion-button (click)="rawqueue()" style="height: 50px;margin-top: 10px;" expand="block" color="primary"><h1 style="margin-top:8px" >บันทึก</h1></ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-item  (click)="moot3=!moot3">
    <ion-label style="font-size: 20px;">ภาษา</ion-label>
    <ion-icon name="arrow-dropdown" style="zoom: 2;"   [hidden]="moot3"></ion-icon>
    <ion-icon name="arrow-dropup"  style="zoom: 2;"   [hidden]="!moot3"></ion-icon>
  </ion-item>
  <div [hidden]="!moot3">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-label>ไทย</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>อังกฤษ</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
    <ion-button (click)="clicklanguage()" style="height: 50px;margin-top: 10px;" expand="block" color="primary"><h1 style="margin-top:8px" >บันทึก</h1></ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>