<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="padding-right: 50px;">
      เขียนรีวิว
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row style="margin-bottom: -1px;">
      <ion-item>
        <ion-avatar item-start>
          <img
            src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />
        </ion-avatar>
        <h5 style="padding-left: 10px;">นายโต้งปลาเผา</h5>
        </ion-item>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">ให้คะแนนร้านอาหารนี้</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-icon name="star" style="zoom:2" [color]="rating>=1?'warning':'dark'" (click)="set_rating(1)"></ion-icon>
      <ion-icon name="star" style="zoom:2" [color]="rating>=2?'warning':'dark'" (click)="set_rating(2)"></ion-icon>
      <ion-icon name="star" style="zoom:2" [color]="rating>=3?'warning':'dark'" (click)="set_rating(3)"></ion-icon>
      <ion-icon name="star" style="zoom:2" [color]="rating>=4?'warning':'dark'" (click)="set_rating(4)"></ion-icon>
      <ion-icon name="star" style="zoom:2" [color]="rating>=5?'warning':'dark'" (click)="set_rating(5)"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">เขียนรีวิว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">หัวเรื่องรีวิว</ion-label>
        <ion-input name="p_title" [(ngModel)]="data.p_title" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" style="font-size: 16pt;">รายละเอียดรีวิว</ion-label>
        <ion-textarea placeholder="เล่ารายละเอียด สิ่งที่อยากจะรีวิวเกี่ยวกับร้าน" name="p_content" [(ngModel)]="data.p_content"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">รูปภาพ</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" width="100%" (click)="openFileBrowser($event)"/>                 
    </div>
      <div >
      <ion-icon (click)="openFileBrowser($event)" [hidden]="showclickimg"   name="cloud-upload" style="font-size: 100px;"></ion-icon>
    </div>
  <div class="form-group">
    <input type="file" name="image" id="uploadfile" (change)="fileProgress($event)"  style="display: none;" />
   
  </div>
  <div *ngIf="fileUploadProgress">
    Upload progress: {{ fileUploadProgress }
  </div>
  <div class="mb-3" *ngIf="uploadedFilePath">
  {{uploadedFilePath}}
</div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" style="height: 50px;font-size: 29px;"  (click)="onSubmit()">โพสต์</ion-button>

  

</ion-content>
