<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="show=!show" class="ion-text-center">
      กรอกข้อมูลการจองโต๊ะ
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="--ion-background: white">
    <ion-card-content style="padding: 0px;">
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*ชื่อ-นามสกุล</ion-label>
        <ion-input [(ngModel)]="databook.b_name"  name="b_name" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*ชื่อเล่น</ion-label>
        <ion-input [(ngModel)]="databook.b_nickname"  name="b_nickname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*เบอร์โทร</ion-label>
        <ion-input [(ngModel)]="databook.b_phone"  name="b_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*จำนวนคน</ion-label>
        <ion-input [(ngModel)]="databook.b_number"  name="b_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">วัน/เดือน/ปี</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="1994-03-14" max="2012-12-09" [(ngModel)]="databook.b_date"  name="b_date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">เวลา</ion-label>
        <ion-datetime displayFormat="HH:mm" value="00:00" [(ngModel)]="databook.b_time"  name="b_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="อื่นๆ ที่ต้องการ" [(ngModel)]="databook.b_detail"  name="b_detail"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons>
      <ion-button  class="shadowadd" expand="full"  (click)="saveUser()">ยืนยัน</ion-button>  
      <!-- <ion-button  class="shadowadd" expand="full"  (click)="loadUser()">ยืนยัน1</ion-button>   -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>