/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
  //font-family: 'Prompt', sans-serif;
  font-family: "Kanit", sans-serif;
}
ion-content {
  // max-width: 500px;
  margin: 0 auto !important;
}

// .sc-ion-modal-md-h{
//     --width: 80%;
//     --height: 200px;
//   }
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  font-family: "Prompt", sans-serif;
}
.alert-head .alert-title {
  text-align: center;
}
.my-custom-modal-css2 {
  .sc-ion-modal-md-h {
    --width: 100%;
    --height: 100%;
  }
  .selectlist {
    position: absolute;
    right: 1px;
    margin-top: -22px;
    font-size: 17px;
    color: white;
  }
  .button-native {
    border-radius: 30px;
  }
  .btn-add {
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
    border-radius: 5px;
  }
  ion-content {
    --ion-background-color: #c6c6c7a3;
  }
}

// menu head , foot //
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 30px;
  //height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 12px;
}
.searchbar-search-icon {
  display: none;
}
ion-header {
  ion-grid {
    background-color: #2751e6;
    color: white;
    ion-col {
      //margin-top: -5px;
    }
  }
  ion-toolbar {
    height: 45px;
    margin-top: 0px;
  }
}
ion-tab-bar {
  border-radius: 30px 30px 0px 0px;
  z-index: 15;
  box-shadow: 0px -3px 3px rgb(189, 189, 189);
  background-color: #2751e6;
  ion-tab-button {
    background-color: #2751e6;
    ion-icon,
    ion-label {
      color: #e1e1e1;
    }
    ion-badge {
      background-color: #e62754;
    }
  }
}
app-home {
  background-color: #fcfcfc;
}
.content {
  max-width: 460px;
  margin: 0 auto;
  min-height: calc(100vh - 57px);
  //   background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

///////////////////////////////////////////
.dalivery_modal .modal-wrapper {
  height: 100%;
  width: 100vw;
}

/// css modal regis and login
.login_modal{
  --max-width: 490px;
  .md{
    --height: 180px;
  }
  .ios{
    --height: 200px;
    .list-ios{
      margin-bottom: 10px;
    }
  }
}
.regis_modal{
  --max-width: 490px;
  .md{
    --height: 250px;
  }
  .ios{
    --height: 280px;
  }
}
.otp_modal{
  --max-width: 490px;
  .md{
    --height: 270px;
  }
  .ios{
    --height: 290px;
  }
}

/// queue css ///
.queue_modal{
  .modal-wrapper{
    height: 600px;
  }
}