<ion-content id="login_modal">
  <form [formGroup]="loginForm">
    <div>
      <div>
        <div style="float: right;width: max-content;margin-right: 10px;margin-top: 5px;" (click)="close(null,'exit')">
          <label style="cursor: pointer;">ปิด</label>
        </div>
      </div>

      <ion-list>
        <ion-item lines="inset">
          <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
          <ion-input maxlength="10" formControlName="phone_id"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">รหัสผ่าน</ion-label>
          <ion-input type="password" formControlName="phone_pass"></ion-input>
        </ion-item>
      </ion-list>
      <div style="position: absolute;left: 0px;margin-left: 15px; display: inline;">
        <a style="cursor: pointer;font-size: small;" (click)="opemModal(null,'regis')">
          ลืมรหัสผ่าน?
        </a>
        &nbsp;&nbsp;
        <a style="cursor: pointer;font-size: small;" (click)="opemModal(null,'regis')">
          สมัครสมาชิก
        </a>
      </div>
      <div style="position: absolute;right: 0px;margin-right: 30px; display: inline;">
        <ion-button size="small" (click)="loginUser()">เข้าสู่ระบบ</ion-button>
      </div>
    </div>
  </form>
</ion-content>