ion-content{
    --ion-background-color:#e3f8f8;
    position: unset; 

}
.shadowa1{
    width: 33.33%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #10dc60;
    height: 56px;
    font-size: 20px;
}
.shadowa2{
    width: 33.33%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #0cd1e8;
    height: 56px;
    font-size: 20px;
}

.shadowa3{
    width: 33.33%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #f25454;
    height: 56px;
    font-size: 20px;
}


