<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="padding-left: 0px;">
      จองคิว
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: chartreuse;">
  <ion-row style="margin-top: 57px;">
    <ion-col size="6" size-md style="border-right: inset;border-color: black;border-right-width: thin;">
      <ion-title class="ion-text-center" style="padding: 0px;zoom:1.5;margin-top:17px">
        หมายเลขคิว
      </ion-title>
      <ion-text color="secondary" class="ion-text-center">
        <h1 style="zoom:2">{{queue.qcode}}</h1>
      </ion-text>
    </ion-col>
    <ion-col size="6" size-md>
      <ion-title class="ion-text-center" style="padding: 0px;zoom:1.5;margin-top:17px">
        คิวที่รอ
      </ion-title>
      <ion-text color="secondary" class="ion-text-center">
        <h1 style="zoom:2">{{queue.wait}} Q</h1>
      </ion-text>
    </ion-col>
    <ion-col size="12" size-md>
      <ion-item>
        <ion-label style="margin-bottom: 0px;">
          <h5 style="zoom: 1.5;">วันที่และเวลา : {{queue.time_start}}</h5>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="margin-bottom: 0px;">
          <ion-button (click)="numberq()" color="success" style="position: absolute;right: 1px;">
            จำนวนที่นั่ง
          </ion-button>
          <h5 style="zoom: 1.5;"> จำนวนที่นั่ง : {{queue.people}} ท่าน</h5>

        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="12" sixe-md>
      <ion-text color="secondary" class="ion-text-center">
        <h1 style="color:red">ขอสงวนสิทธิ์ในการข้ามคิว <br> กรณีลูกค้าไม่แสดงตัวตน</h1>
      </ion-text>
    </ion-col>

  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons>
      <ion-button class="shadowa1" expand="full" (click)=" qcart()">เลือกอาหาร</ion-button>
      <ion-button class="shadowa2" expand="full" (click)="add_product(data)">เลื่อนคิว</ion-button>
      <ion-button class="shadowa3" expand="full" (click)="add_product(data)">ยกเลิก</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>