<ion-content>
  <form [formGroup]="regisForm" style="padding: 5px 5px 5px 5px;">
    <div style="float: right;width: max-content;
    margin-right: inherit;margin-top: inherit; 
    padding-right: 15px; padding-top: 5px;" (click)="close(null,'exit')">
      <label style="cursor: pointer;">ปิด</label>
    </div>
    <div>
      <ion-list>
        <ion-item lines="inset">
          <ion-label position="floating">ชื่อผู้ใช้งาน</ion-label>
          <ion-input maxlength="20" formControlName="name_reg"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
          <ion-input placeholder="08x-xxx-xxxx" maxlength="10" type="tel" formControlName="phone_id_reg"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">รหัสผ่าน</ion-label>
          <ion-input placeholder="* โปรดกรอก 6-13 ตัวเลขเเละตัวอักษร" type="password" formControlName="phone_pass_reg">
          </ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div style="text-align: center;">
      <ion-button disabled="{{regisForm.invalid}}" expand="full" size="small" (click)="closeValidate(regisForm.invalid)"
        [hidden]="btn_event.st_2 == 'contact_call_center'">สมัครสมาชิก
      </ion-button>
    </div>
    <div style="text-align: center;" *ngIf="btn_event.st_2 == 'contact_call_center'">
      <label>*** โปรดติดต่อทีมงานเพื่อรับรหัส OTP ***</label>
    </div>
  </form>
</ion-content>