.ion-text-center{
    padding-right: 60px;
}
.selectlist{
    position: absolute;
    right: 1px;
    margin-top: -22px;
    font-size: 17px;
    color: white;
}
.button-native{
    border-radius: 30px;
}
.btn-add{
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
    border-radius: 5px;
}