<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      ปลาเผา
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart" style="zoom:1.5;"></ion-icon>
        <ion-badge color="danger">10</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img  src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg" width="100%"/>
 
  <ion-row style="margin-top: -5px;">
    <ion-col size="6" style="padding:0px;margin-top: -10px;">
      <ion-text>
        <h1 style="margin-left: 10px;">ปลาเผา</h1>
      </ion-text>
    </ion-col>
    <ion-col size="6" style="padding:0px;margin-top: -10px;">
      <ion-text style="position: absolute;right: 10px;">
        <h1 style="width: 112px;background-color: #3880ff; padding: 3px 8px;border-radius: 5px;color: white;">150 บาท</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header style="background-color: #3880ff;;">
      <ion-card-title style="color: white;">เส้น<p class="selectlist">เลือกได้ 1-2 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list >
        <ion-item >
          <ion-label >เส้นใหญ่</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>เส้นเล็ก</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>เส้นหมี่</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color: #3880ff;;">
      <ion-card-title style="color: white;">เนื้อ<p class="selectlist">เลือกได้ 1-1 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list >
        <ion-item >
          <ion-label>หมู</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>เนื้อ</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color: #3880ff;">
      <ion-card-title style="color: white;">น้ำ<p class="selectlist">เลือกได้ 1-1 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list >
        <ion-item >
          <ion-label>น้ำใส</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>น้ำตก</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label color="primary">คอมเม้น</ion-label>
      <ion-input placeholder="comment" style="margin-left:50px"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">จำนวน</ion-label>
      <ion-input style="margin-left: 60px;" type="number" value="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">ราคาสุทธิ</ion-label>
      <ion-input style="margin-left: 50px;" value="30 บาท" readonly></ion-input>
    </ion-item>
  </ion-list>
  <div class="">
  <ion-button expand="full" color="primary" class="shadow-red" shape="round">บันทึก</ion-button>
</div>
</ion-content>
