<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      ยืนยันการสั่ง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background: white">
      <ion-card-title class="ion-text-center">กรอกที่อยู่จัดส่ง</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card style="--ion-background: white">
    <ion-card-content style="padding: 0px;">
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >*ชื่อ-นามสกุล</ion-label>
        <ion-input style="text-align: center;" name="od_name" [(ngModel)]="datad.od_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >*เบอร์โทร</ion-label>
        <ion-input style="text-align: center;" name="od_phone" [(ngModel)]="datad.od_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >*ที่อยู่</ion-label>
        <ion-input style="text-align: center;" name="od_address" [(ngModel)]="datad.od_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >รวมค่าอาหาร</ion-label>
        <ion-input style="text-align: center;" name="sum_all" [(ngModel)]="datad.sum_all" value="{{sum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >ค่าส่ง</ion-label>
        <ion-input style="text-align: center;" name="od_price_send" [(ngModel)]="datad.od_price_send"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 16px;" position="fixed" >ทั้งหมด </ion-label>
        <ion-input style="text-align: center;" name="od_price_all" [(ngModel)]="datad.od_price_all" value="{{sum1}}"></ion-input>
      </ion-item>
 





    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons>
      <ion-button  class="shadowadd" expand="full"  (click)="save_order()">ยืนยัน</ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-footer>