ion-content{
    --ion-background-color:#c6c6c7a3;
}
.item-native{
    background-color: white;
}
.sc-ion-card-md-h {
    --ion-background-color: white;
  }
  .shadowadd{
    width: 100%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #7044ff;
    height: 56px;
    font-size: 25px;
}