// .mid-menu {
//   z-index: 0;
//   position: fixed;
//   bottom: 16px;
//   .menu1 {
//     border-radius: 80px;
//     background: #2751e6;
//     position: absolute;
//     z-index: -1;
//     top: -55px;
//   }
//   .menu2 {
//     background: #2751e6;
//     position: absolute;
//     top: -40px;
//   }
//   @media only screen and (max-width: 374px) {
//     margin-left: calc(100vw - 82vw);
//     .menu1 {
//         left: 80px;
//         width: 65px;
//         height: 65px;
        
//     }
//     .menu2 {
//         width: 90px;
//         height: 55px;
//         left: 70px;
//     }
//   }
//   @media only screen and (min-width: 375px) {
//     margin-left: calc(100vw - 78vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 400px) {
//     margin-left: calc(100vw - 75vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 500px) {
//     margin-left: calc(100vw - 70vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 600px) {
//     margin-left: calc(100vw - 66vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 700px) {
//     margin-left: calc(100vw - 64vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 800px) {
//     margin-left: calc(100vw - 62vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 900px) {
//     margin-left: calc(100vw - 60vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 1000px) {
//     margin-left: calc(100vw - 60vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   @media only screen and (min-width: 1200px) {
//     margin-left: calc(100vw - 58vw);
//     .menu1 {
//     }
//     .menu2 {
//     }
//   }
//   //   @media only screen and (min-width: 960px) {
//   //     margin-left: calc(100vw - 58vw);
//   //   }
// }
