<!-- <ion-tabs>
  <div style="text-align: -webkit-center;">
    <div style="max-width: 960px;">
      <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="click_tab('home')">
          <ion-icon name="home"></ion-icon>
          <ion-label>หน้าหลัก</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="click_tab('main/notifications')">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>แจ้งเตือน</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button (click)="click_tab('home/all-order')">
          <ion-icon name="create"></ion-icon>
          <ion-label>ออเดอร์</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="heart">
          <ion-icon name="heart"></ion-icon>
          <ion-label>ที่ชอบ</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="click_tab('home/config')">
          <ion-icon name="list"></ion-icon>
          <ion-label>อื่นๆ</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </div>

  </div>
</ion-tabs> -->