.shadowclose{
        width: 50%;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        background-color: #f04141;
        height: 56px;
        font-size: 20px;
    }
    .shadowadd{
        width: 50%;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        background-color: #10dc60;
        height: 56px;
        font-size: 20px;
    }