.body-content {
  background-color: rgb(255, 255, 255);
}
ion-card {
  background-color: #ffffffd6;
}

hr {
  background-color: #c1c1c1;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-card {
  box-shadow: 5px 5px 5px #979797;
  margin-bottom: 20px;
  ion-card-header {
    padding: 0px;
  }
  ion-card-content {
    padding: 10px 5px 10px 10px;
    height: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

h3 {
  margin-top: 15px;
  width: 200px;
  color: #2751e6;;
  text-shadow:2px 2px #e0e0e0;
  font-weight: 900;
}

.icon-star {
  color: #f9c828;
  font-size: large;
}

.ribon {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 2px 5px 2px 5px;
  background-color: #e62754;
  color: white;
  font-size: large;
  box-shadow: -2px 2px 1px #222222;
}
