<ion-content>
  <form [formGroup]="otpForm" style="padding: 5px 5px 5px 5px;">
    <div style="float: right;width: max-content;
    margin-right: inherit;
    margin-top: inherit;
    padding-right: 15px; 
    padding-top: 5px;" (click)="close(null,'exit')">
      <label style="cursor: pointer;">ปิด</label>
    </div>
    <div style="margin-top: 15px;">
      <ion-list>
        <ion-item style="text-align: center;" lines="none">
          <ion-label style="color: #e62754;font-size: smaller;">( โปรดอย่าปิดหน้าต่างนี้ในระหว่างรอยืนยัน OTP )</ion-label>
        </ion-item>
        <ion-item lines="inset">
          <ion-label>Code อ้างอิง OTP : {{data.code}}</ion-label>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">รหัส OTP :</ion-label>
          <ion-input maxlength="6" formControlName="otp_serial" type="tel"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div style="text-align: right;padding-top: 5px;padding-bottom: 5px;padding-right: 15px;" *ngIf="state_btn=='add'">
      <a style="cursor: pointer;" (click)="getOTP(data)">ขอ OTP อีกครั้ง</a>
    </div>
    <div style="text-align: center;" *ngIf="state_btn=='add'">
      <ion-button expand="full" size="small" (click)="verificationUser()" [disabled]="otpForm.invalid">ยืนยันตัวตน
      </ion-button>
    </div>

    <div style="text-align: center;" *ngIf="state_btn=='contact'">
      <label>*** โปรดติดต่อทีมงานเพื่อรับรหัส OTP ***</label>
    </div>
  </form>
</ion-content>