<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close('open_map')">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          รายละเอียดออเดอร์
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="detailForm" (ngSubmit)="send()">
    <!-- <div class="icon-status">
      <div class="ion-group">
        <div>
          <i class="fas fa-file-excel"></i>
        </div>
        <div>
          <span>ส่งออเดอร์</span>
        </div>
      </div>
      <div class="ion-group">
        <div>
          <i class="fas fa-file-download"></i>
        </div>
        <div>
          <span>รับออเดอร์</span>
        </div>
      </div>
      <div class="ion-group">
        <div>
          <i class="fas fa-box"></i>
        </div>
        <div>
          <span>ดำเนินการ</span>
        </div>
      </div>
      <div class="ion-group">
        <div>
          <i class="fas fa-box-open"></i>
        </div>
        <div>
          <span>จัดส่ง</span>
        </div>
      </div>
    </div> -->

    <div style="border-bottom: dashed #abababee; padding-bottom: 10px;">
      <div style="text-align: -webkit-center;">
        <div style="width: 95%;">
          <ion-list>
            <!-- <ion-list-header>
              <ion-label style="color: #2751e6;">
                <strong>เลือกสถานที่จัดส่ง</strong>
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-select formControlName="location_pick" okText="ตกลง" cancelText="ยกเลิก"
                (ionChange)="showPicker(detailForm.value.location_pick)">
                <ion-select-option *ngFor="let opt_local of location" value="{{opt_local.local_id}}">
                  {{opt_local.local_name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div id="check_new_address" [hidden]="save_new_map">
              <ion-item [hidden]="save_new_map">
                  <ion-label>
                    ชื่อสถานที่จัดส่งใหม่
                  </ion-label>
                  <ion-checkbox slot="start"  (ionChange)="chkNewaddress()"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label position="floating" style="color: #2751e6;">
                  <strong>
                    ชื่อสถานที่จัดส่งใหม่
                  </strong>
                </ion-label>
                <ion-input formControlName="new_address"></ion-input>
              </ion-item>
            </div> -->
            <ion-item (click)="close('open_map')">
              <ion-label style="color: #2751e6;">
                <strong>ชื่อสถานที่จัดส่ง</strong>
                <p>{{route_data.end_address}}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating" style="color: #2751e6;">
                <strong>จุดสังเกต</strong>
              </ion-label>
              <ion-textarea formControlName="local_remark" #remark></ion-textarea>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="detail" style="
        border-bottom: dashed #abababee;
        padding-bottom: 20px;
        padding-top: 20px;
      ">
      <!-- <p style="margin-top: 2px; margin-bottom: 2px;">
        <strong>ออเดอร์ : (รอท่านยืนยัน)</strong>
      </p>
      <p style="margin-top: 2px; margin-bottom: 2px;">
        <strong
          >ร้าน :
          <span *ngIf="wait_order.res.name!=''">{{wait_order.res.name}}</span>
        </strong>
      </p> -->
      <!-- <p style="margin-top: 2px;margin-bottom: 2px;">
        <strong>วันที่ : 22-03-2020</strong>
      </p> -->
      <p style="margin-top: 2px; margin-bottom: 2px;">
        <strong>รายการ : </strong>
      </p>
      <div *ngFor="let list of wait_order.data_detail;let i = index" class="list-order">
        <div class="list" style="display: table-row;">
          <div class="item-add">
            <strong (click)="additem(-1,i)" style="color: #2751e6;">-</strong>
            &nbsp;
            <span style="color: #e62754;">{{amout[i]}}</span>
            &nbsp;
            <strong (click)="additem(1,i)" style="color: #2751e6;">+</strong>
          </div>
          <div class="item-price">
            {{list.price*amout[i]}}.- &nbsp;
            <img src="https://image.flaticon.com/icons/png/512/1828/1828843.png" style="width: 12px;"
              (click)="removeList(i)">
          </div>
          <ng-container *ngIf="list.details.length < 1; else elseHasOption">
            <div class="item-name" (click)="preSetOption(false,i)">
              {{list.name}}
            </div>
          </ng-container>
          <ng-template #elseHasOption>
            <div class="item-name" (click)="preSetOption(true,i)">
              {{list.name}}
            </div>
            <p [innerHTML]="get_html(list)" style="
                width: 100%;
                margin-left: 95px;
                margin-top: 5px;
                margin-bottom: 0px;
                color: #514c4cee;
              "></p>
          </ng-template>
        </div>
      </div>
      <p class="total-food">
        <strong>ค่าอาหาร </strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{getTotal('food')}}.-
      </p>
      <p class="total-delivery">
        <strong>ค่าจัดส่ง </strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{getTotal('delivery')}}.-
      </p>
      <p class="total-all">
        <span style="border-bottom: double;">
          <strong>ยอดสุทธิ </strong>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{getTotal('all')}}.-
        </span>
      </p>
      <div style="text-align: left;" (click)="pickGiveaway()">
        <ion-checkbox [checked]="chk_giveaway" (ionChange)="chkGiveaway()" (click)="pickGiveaway()" id="giveaway">
        </ion-checkbox>
        <ion-label style="margin-left: 3px;">ขอช้อนส้อม</ion-label>
      </div>
      <div>
        <ion-button size="small" (click)="close('open_item_list')">สั่งเพิ่ม</ion-button>
      </div>
      <!-- <ion-grid style="border-style: groove;">
        <ion-row>
          <ion-col size="10">
            <ion-label>ช้อนส้อม</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-toggle [checked]="chk_giveaway" (ionChange)="chkGiveaway()"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <div style="
        border-bottom: dashed #abababee;
        padding-bottom: 20px;
        padding-top: 20px;
      ">
      <div style="text-align: -webkit-center;">
        <div style="width: 95%;">
          <div style="text-align: center;">
            <ion-radio-group value="0">
              <ion-radio slot="start" value="0" (ionSelect)="chkTypePay(0)"></ion-radio>
              <ion-label> เก็บปลายทาง</ion-label>
              &nbsp;&nbsp;
              <ion-radio slot="start" value="1" (ionSelect)="chkTypePay(1)"></ion-radio>
              <ion-label> เเจ้งโอน</ion-label>
            </ion-radio-group>
            <div style="margin-top: 15px;">
              <ion-radio-group formControlName="bank_pick" (ionChange)="chageBank()" [hidden]="select_bank">
                <ion-item *ngFor="let bank of res_bank">
                  <ion-radio slot="start" value="{{bank.id_pay_type}}"></ion-radio>
                  <label>
                    <div><strong>ธนาคาร : </strong>{{bank.bank}}</div>
                    <div><strong>ชื่อบัญชี : </strong>{{bank.acount_name}}</div>
                    <div><strong>เลขที่บัญชี : </strong>{{bank.acount_number}}</div>
                  </label>
                </ion-item>
              </ion-radio-group>
            </div>

            <div [hidden]="select_bank" style="margin-top: 15px;">
              <div>
                <img src="{{url}}">
              </div>
              <div>
                <input style="display: none;" #file_slip id="slipinput" type="file" accept="image/*"
                  (change)="changeListener($event)">
                <ion-button size="small" color="primary" (click)="add_slip($event)">แนบสลิป</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <ion-button class="btn-cf" (click)="confirmOrder(true,wait_order,route)">ยืนยันออเดอร์</ion-button>
      &nbsp;
      <ion-button class="btn-cc" (click)="confirmOrder(false,wait_order,route)">ยกเลิกออเดอร์</ion-button>
    </div>
  </form>
</ion-content>