#head_title {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
}

.icon-status {
  text-align: center;
  padding-top: 25px;
  .ion-group {
    display: inline-block;
    margin: 15px;
    i {
      color: #878484;
      font-size: 40px;
    }
    span {
      font-size: 10px;
    }
  }
}

.detail {
  padding: 0px 30px 10px 30px;
  margin-top: 0px;
  color: #3e3e3e;
  .list-order {
    padding-bottom: 5px;
    div {
      display: inline-block;
    }
    .item-price {
      position: absolute;
      right: 30px;
    }
    .item-name {
      position: absolute;
      left: 110px;
    }
  }
  .total-food {
    padding-bottom: 8px;
    margin: 0px;
    padding-right: 32px;
    text-align: right;
    padding-bottom: 0px;
  }
  .total-delivery {
    padding-bottom: 8px;
    margin: 0px;
    padding-right: 32px;
    text-align: right;
    padding-bottom: 0px;
  }
  .total-all {
    padding-bottom: 8px;
    margin: 0px;
    padding-right: 32px;
    text-align: right;
    padding-bottom: 5px;
  }
}

.btn-group {
  margin-top: 10px;
  .btn-cf {
    --background: #2751e6;
  }
  .btn-cc {
    --background: #e62754;
  }
  text-align: center;
  ion-button {
    color: white;
    --border-radius: 12px;
  }
}

// .has-option {
//   font-size: 8px;
//   margin: -10px 0px 0px 5px;
// }

ion-select {
  display: contents;
}