<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="show=!show">
      {{title}}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="show=!show">
        <ion-icon name="arrow-dropdown" [hidden]="show" style="zoom:2"></ion-icon>
        <ion-icon name="arrow-dropup" [hidden]="!show" style="zoom:2"></ion-icon>
      </ion-button>
      <ion-button (click)="show_search=!show_search">
        <ion-icon name="search" style="zoom:1.5"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list [hidden]="!show">
    <ion-item *ngFor="let g of group" (click)="select_group(g)">{{g.name}}</ion-item>
  </ion-list>
  <ion-searchbar placeholder="ค้นหา" [hidden]="!show_search">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="6" style="padding: 0px;" *ngFor="let f of foods">
      <ion-card>
        <ion-badge item-end class="badge-item">{{f.price|currency:'฿'}}</ion-badge>
        <img (click)="Modaldetail(f)" src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg" [src]="f.pic_url"/>
        <ion-card-content style="padding-top:0px;">
          <ion-card-title class="ion-text-center productname">
            <div>
              {{f.name}}
            </div>
          </ion-card-title>
            <ion-row style="background-color: #222428;">
              <ion-col size="12" class="ion-text-center"   style="padding: 0px;">
                <ion-button  style="width: 47%;font-size: 16px;--background: #039F4E;" (click)="add_product(f)">เพิ่ม</ion-button>
                <ion-button  style="width: 47%;font-size: 16px;--background: #5E35B1;" (click)="qmodaldetail(f)">ตัวเลือก</ion-button>
              </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
   
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="bcart()">
        <ion-icon name="cart" style="zoom:1.5;"></ion-icon>
        <ion-badge color="danger">{{cart_count}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-button (click)="bcart()" color="success" slot="end" class="next">
      <ion-title>
        <h6 style="margin-top:10px">ถัดไป</h6>
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-footer>