#head_title {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
}

.icon-status {
  text-align: center;
  padding-top: 25px;
  .ion-group {
    display: inline-block;
    margin: 15px;
    i {
      color: #878484;
      font-size: 40px;
    }
    span {
      font-size: 10px;
    }
  }
}


.detail {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  color: #3e3e3e;
  .list-order {
    padding-bottom: 5px;
    div {
      display: inline-block;
    }
    .item-price {
      position: absolute;
      right: 30px;
    }
    .item-name {
      position: absolute;
      left: 110px;
    }
  }
  .delivery_price {
    text-align: right;
    width: 180px;
    position: absolute;
    right: 30px;
    padding-bottom: 8px;
    margin: 0px;
    padding-right: 12px;
  }
  .total {
    text-align: right;
    border-bottom: double;
    width: 180px;
    position: absolute;
    right: 30px;
    padding-bottom: 8px;
    margin: 20px 0px 0px 0px;
    padding-right: 12px;
  }
}

.btn-group {
  margin-top: 25px;
  .btn-cf {
    --background: #2751e6;
  }
  .btn-cc {
    --background: #e62754;
  }
  text-align: center;
  ion-button {
    color: white;
    --border-radius: 12px;
  }
}


// h1, h2, h3, h4, h5, h6 {
// 	font-family: 'Oswald', sans-serif;
// }

// h1 {
// 	font-size: 2rem;
// 	margin-bottom: .5em;
// }

// p {
// 	font-family: 'Roboto', sans-serif;
// 	font-size: .2rem;
// }

// ----------------  LAYOUT

.container {
	max-width: 1024px;
	width: 90%;
	margin: 20px auto;
}

// ----------------  THE FONTS

$border-color: rgba(rgb(41, 41, 41), .3);

.timeline-item {
  height: 60px;
	padding: 1em 1em 1em;
	position: relative;
	//color: rgba(black, .7);
  border-left: 2px solid $border-color;
  .state-none{
    color: #b9b8b8;
  }
	
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		//top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
    background: #2751e6;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
  }
  
}

.point-none{
  &::after {
		background: #ffffff;
	}
}

.content-details{
  background-color:#d8d8d81f;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  .btn-show-detail{
    cursor: pointer;
    border-bottom-style: solid;
  }
}