<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close('exit')">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          รายละเอียดออเดอร์
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="icon-status">
    <div class="ion-group">
      <div>
        <i class="fas fa-file-excel"></i>
      </div>
      <div>
        <span>ส่งออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-file-download"></i>
      </div>
      <div>
        <span>รับออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-box"></i>
      </div>
      <div>
        <span>ดำเนินการ</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-box-open"></i>
      </div>
      <div>
        <span>จัดส่ง</span>
      </div>
    </div>
  </div> -->

  <div style="margin-top: 10px; text-align: center;">
    <div #mapElement class="map" style="height: 45vh;"></div>
  </div>
  <div class="detail">
    <div class="container">
      <div class="timeline-item" *ngFor="let state_txt of state_txt;let i = index"
        [ngClass]="{'point-none': timeline_st <= i}">
        <p [ngClass]="{'state-none': timeline_st <= i}">
          {{state_txt}}
        </p>
      </div>
    </div>
    <!-- <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>ร้าน :
        <span *ngIf="wait_order.res.name!=''">{{wait_order.res.name}}</span>
      </strong>
    </p> -->
    <div class="content-details">
      <div style="text-align: center;padding: 10px 0px 15px 0px;">
        <a (click)="showDetaildelivery(showDL)" class="btn-show-detail" >แสดงรายละเอียดเพิ่มเติม</a>
      </div>
      <div [hidden]="showDL">
        <p style="margin-top: 5px; margin-bottom: 2px;">
          <strong>สถานที่ส่ง : </strong> {{ data_details.order.address.address }}
        </p>
        <p style="margin-top: 5px; margin-bottom: 2px;">
          <strong>หมายเหตุการจัดส่ง : </strong> {{ data_details.order.comment }}
        </p>
        <p style="margin-top: 5px; margin-bottom: 2px;">
          <strong>ช้อนส้อม : </strong>
          <ng-container *ngIf="data_details.order.member_giveaway == 1; else elseNo">
            รับ
          </ng-container>
          <ng-template #elseNo>
            ไม่รับ
          </ng-template>

        </p>
        <p style="margin-top: 5px; margin-bottom: 2px;">
          <strong>รายการ : </strong>
        </p>
        <div *ngFor="let list of data_details.detail;let i = index" class="list-order">
          <div class="item-add" style="margin-left: 20px;">
            {{list.count}}
          </div>
          <div class="item-price">
            {{list.total_price|number}}.-
          </div>
          <div class="item-name">
            {{list.name}}
          </div>
          <p [innerHTML]="get_html(list)" style="
        width: 100%;
        margin-left: 100px;
        margin-top: 5px;
        margin-bottom: 0px;
      "></p>
        </div>
        <hr style="border-width: 1px;border-bottom: thin;" />
        <p class="delivery_price">
          <strong>ค่าจัดส่ง </strong>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{data_details.order.price_send|number}}.-
        </p>
        <p class="total">
          <strong>ยอดสุทธิ </strong>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total|number}}.-
        </p>
        <div style="margin-top: 80px;text-align: center;">
          <ion-radio-group>
            <ion-radio slot="start" value="0" (ionSelect)="chkTypePay(0)" [checked]="pay_status == 0"></ion-radio>
            <ion-label> เก็บปลายทาง</ion-label>
            &nbsp;&nbsp;
            <ion-radio slot="start" value="1" (ionSelect)="chkTypePay(1)" [checked]="pay_status == 1"></ion-radio>
            <ion-label> เเจ้งโอน</ion-label>
          </ion-radio-group>

          <div [hidden]="pay_status == 0" style="margin-top: 15px;">
            <div style="margin-bottom: 10px;">
              <ion-radio-group>
                <ion-item lines="full" *ngFor="let bank of bank" style="--background: #fafafa;">
                  <ion-radio slot="start" (click)="copyMessage(bank.acount_number,bank.id_pay_type)"
                    [checked]="bank.id_pay_type == data_details.order.payment_type"></ion-radio>
                  <label style="font-size: 14px;">
                    <div><strong>ธนาคาร : </strong>{{bank.bank}}</div>
                    <div><strong>ชื่อบัญชี : </strong>{{bank.acount_name}}</div>
                    <div><strong>เลขที่บัญชี : </strong>{{bank.acount_number}}</div>
                  </label>
                </ion-item>
              </ion-radio-group>
            </div>
            <div style="margin: 20px 0px 20px 0px;">
              <img src="{{url}}" style="max-width: 70%;">
            </div>
            <div style="text-align: center;">
              <input style="display: none;" #file_slip id="slipinput" type="file" accept="image/*"
                (change)="changeListener($event)">
              <ion-button size="small" color="primary" (click)="add_slip($event)" style="--max-width: 200px;">แนบสลิป
              </ion-button>
              <ion-button size="small" color="success" (click)="confirmSlip(data_details.order.order_id)"
                [hidden]="cf_slip == 0">ยืนยันสลิป
              </ion-button>
            </div>
          </div>

          <!-- <ion-checkbox value="0" [checked]="data_details.order.payment_type == 0" (ionSelect)="chkTypePay(0)"></ion-checkbox>
          เก็บปลายทาง &nbsp;
          <ion-checkbox value="1" [checked]="data_details.order.payment_type == 1" (ionSelect)="chkTypePay(1)"></ion-checkbox>
          โอน &nbsp; -->
        </div>
      </div>
    </div>
    <div class="btn-group" [hidden]="data_details.order.status != 3">
      <ion-button class="btn-cc" (click)="presentAlertConfirm(order_key,data_details.order.status)">
        ยกเลิกออเดอร์</ion-button>
    </div>
  </div>
</ion-content>