<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" routerLink="/">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          ออเดอร์ที่สั่ง
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="bg">
    <ion-row id="menu_order">
      <ion-col size="6">
        ออเดอร์
      </ion-col>
      <ion-col size="6">
        ประวัติออเดอร์
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let order of [1,2,3,4,5,6,7,8]">
      <ng-container *ngIf="order<4; else elseWait">
        <ion-row class="ready-order" (click)="modalOrder(order)">
          <ion-col size="2" class="head-order" [ngClass]="{'wait-admin-tab': order == 2}">
            <!-- head tab -->
          </ion-col>
          <ion-col size="10" class="detail-order">
            <span class="span-text">
              <strong>Order : </strong> 
              #00{{order}}
              <span class="wait-admin" *ngIf="order == 2">(รอร้านค้ายืนยัน)</span>
            </span>
            <br>
            <span class="span-text">
              <strong>ร้าน : </strong> Delta Food
            </span>
            <br>
            <span class="span-text">
              <strong>ยอดสุทธิ : </strong> 359.- 
            </span>
          </ion-col>
        </ion-row>   
      </ng-container>
      <ng-template #elseWait>
        <ion-row class="wait-order" (click)="modalOrder(order)">
          <ion-col size="2" class="head-order">
            <!-- head tab -->
          </ion-col>
          <ion-col size="10" class="detail-order">
            <span class="span-text">
              <strong>Order : </strong> 
              (รอผู้ใช้ยืนยัน)
            </span>
            <br>
            <span class="span-text">
              <strong>ร้าน : </strong> Delta Food
            </span>
            <br>
            <span class="span-text">
              <strong>ยอดสุทธิ : </strong> 359.- 
            </span>
          </ion-col>
        </ion-row>   
      </ng-template>
    </ion-card>
  </div>
</ion-content>
