<ion-content>
  <div class="content">
    <ion-header>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="2" class="arrow-back" routerLink="/deltafood/config">
              <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
            </ion-col>
            <ion-col size="10" id="head_title">
              เพิ่มที่อยู่จัดส่ง
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <div style="margin-top: 40px;text-align: center;">
      <img
        src="https://maps.googleapis.com/maps/api/staticmap?center=16.454272,102.8416497&zoom=17&scale=1&size=350x200&maptype=roadmap&key=AIzaSyADQl79AootGyhKCW8MQ8xxz561gPFu0rA&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C16.454272,102.8416497"
        alt="">
    </div>
    <div style="width: 95%; ">
      <div style="margin-left: 5%;">
        <ion-item>
          <ion-label position="floating">ชื่อสถานที่ : </ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">รายละเอียด : </ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </div>
      <div style="text-align: center; padding-top: 25px;">
        <ion-button (click)="linkAdress('add_address')">
          <i class="fas fa-globe"> บันทึก</i>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>