#head_title {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
}

#menu_order {
  text-align: center;
  background-color: rgb(234, 238, 251);
}

ion-card{
    box-shadow: 0px 0px 5px #5c5c5c;
    padding: 5px;
    margin: 25px;
    .detail-order{
        p{
            margin: 10px;
        }
    }
    ion-row{
        background-color: #fefeff;
        padding: 8px;
        .span-text{
            margin: 30px 0px 30px 10px;
        }
    }
    
    .ready-order{ 
        .head-order{
            background-color: #2160d4;
            box-shadow: 0px 0px 4px 1px #484848;
            border-radius: 5px;
        }
        .wait-admin{
            color: #2751e6;
        }
        .wait-admin-tab{
            background-color: #a4c4ff;
        }
        .head-order-history{
            background-color: #aaaaaa;
            box-shadow: 0px 0px 4px 1px #484848;
            border-radius: 5px;
        }
        .cancel-admin{
            color: #e62754;
        }
        .cancel-admin-tab{
            background-color: #f8b4c4;
        }
    }
    .wait-order{
        .head-order{
            background-color: #aaaaaa;
            box-shadow:inset 2px 2px 4px 0px #484848;
            border-radius: 5px;
        }
    }
}

