<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" routerLink="/{{res_uri}}">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          ออเดอร์ที่สั่ง
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="bg">
    <ion-row id="menu_order">
      <ion-col size="6" (click)="Order(true)">
        ออเดอร์
      </ion-col>
      <ion-col size="6" (click)="Order(false)">
        ประวัติออเดอร์
      </ion-col>
    </ion-row>
    <ng-container *ngIf="type_order == true; else elseHistory">
      <!-- <ion-card *ngFor="let order of [1,2,3,4,5]">
          <ion-row class="ready-order" (click)="modalOrder(order)">
            <ion-col size="2" class="head-order" [ngClass]="{'wait-admin-tab': order == 2}">
            </ion-col>
            <ion-col size="10" class="detail-order">
              <span class="span-text">
                <strong>Order : </strong>
                #00{{order}}
                <span class="wait-admin" *ngIf="order == 2">(รอร้านค้ายืนยัน)</span>
              </span>
              <br>
              <span class="span-text">
                <strong>ยอดสุทธิ : </strong> 359.-
              </span>
            </ion-col>
          </ion-row>
      </ion-card> -->
      <ion-card *ngFor="let order of order_list" [hidden]="order.status == 0 || order.status == 1">
        <ion-row class="ready-order" (click)="modalOrder(order.order_id)" >
          <ion-col size="2" class="head-order-history" [ngClass]="{'cancel-admin-tab': order == 2}">
            <!-- head tab -->
          </ion-col>
          <ion-col size="10" class="detail-order">
            <span class="span-text">
              <strong>Order : </strong>
              (รอท่านยืนยันรายการ)
            </span>
            <br>
            <span class="span-text">
              <strong>ยอดสุทธิ : </strong> {{order.price_food}}.-
            </span>
            <br>
            <span class="span-text">
              <strong>สถานะ : </strong> {{order.status_txt}}
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
    <ng-template #elseHistory>
      <ion-card *ngFor="let order of order_history" [hidden]="order.status == 2 || order.status == 3 || order.status == 4">
        <ion-row class="ready-order" (click)="modalOrder(order.order_id)" >
          <ion-col size="2" class="head-order-history" [ngClass]="{'cancel-admin-tab': order == 2}">
            <!-- head tab -->
          </ion-col>
          <ion-col size="10" class="detail-order">
            <span class="span-text">
              <strong>Order : </strong>
              (รอท่านยืนยันรายการ)
            </span>
            <br>
            <span class="span-text">
              <strong>ยอดสุทธิ : </strong> {{order.price_food}}.-
            </span>
            <br>
            <span class="span-text">
              <strong>สถานะ : </strong> {{order.status_txt}}
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-template>
  </div>
</ion-content>