<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>รายการอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let c of cart; let i = index">
    <ion-card class="item-native">
      <ion-card-content style="padding: 0px;">
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle color="dark" style="font-size: 20px;"><b>[{{c.count}}] {{c.name}}</b></ion-card-subtitle>
            
            <ion-text color="dark">
              <h6 style="padding-left: 15px;font-size: 16px;" [innerHTML]="get_html(c)"></h6>
            </ion-text>
          </ion-col>
          <ion-col size="4" style="padding: 0px;">
            <div class="ion-text-end">
              <ion-button color="success" size="small" (click)="Modaleditdetail(c,i)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button color="danger" size="small" (click)="remove(i)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </div>
             <div class="ion-text-end" style="margin: 4px 3px -3px;">
              <ion-badge color="dark">รวม {{get_price(c)|number}} ฿</ion-badge>
            </div>
            
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-title slot="start">
      <h6 >ราคารวม {{sum_all()|number}} บาท</h6>
    </ion-title>
    <ion-button (click)="d_checkout()" color="success" slot="end" class="next" style="font-size: 20px;">
      <ion-input type="hidden" [(ngModel)]="dataprice.sum_all" name="sum_all" value=" {{sum_all()}} "></ion-input>
      <ion-title>
        <h6 style="margin-top:10px">ถัดไป</h6>
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-footer>