<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1" class="arrow-back">
          <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>