<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close()">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          รายละเอียดออเดอร์
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon-status">
    <div class="ion-group">
      <div>
        <i class='fas fa-file-excel'></i>
      </div>
      <div>
        <span>ส่งออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class='fas fa-file-download'></i>
      </div>
      <div>
        <span>รับออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class='fas fa-box'></i>
      </div>
      <div>
        <span>ดำเนินการ</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class='fas fa-box-open'></i>
      </div>
      <div>
        <span>จัดส่ง</span>
      </div>
    </div>
  </div>
  <div class="detail">
    <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>ออเดอร์ : #001</strong>
    </p>
    <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>ร้าน : Delta food</strong>
    </p>
    <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>วันที่ : 22-03-2020</strong>
    </p>
    <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>รายการ : </strong>
    </p>
    <div *ngFor="let item of order_li;let i = index" class="list-order">
      <div class="item-add">
        <strong (click)="additem(-1,i)">-</strong>
        &nbsp;
        {{amout[i]}}
        &nbsp;
        <strong (click)="additem(1,i)">+</strong>
      </div>
      <div class="item-name">
        ขนมปากหม้อใส่ไข่
      </div>
      <div class="item-price">
        100.-
        &nbsp;
        <i class='fas fa-trash-alt' style="color: #E62754;"></i>
      </div>
    </div>
    <hr style="border-width: 1px;">
    <p class="total">
      <strong>ยอดสุทธิ </strong>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      2500.-
    </p>
    <div class="btn-group">
      <ion-button class="btn-cf" (click)="close()">ยืนยันออเดอร์</ion-button>
      &nbsp;
      <ion-button class="btn-cc" (click)="close()">ยกเลิกออเดอร์</ion-button>
    </div>
  </div>
</ion-content>