<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      {{data.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" expand="full" style="width: 30%;position: absolute;right: -1px;margin-top: 0px;font-size: 20px;">{{data.price|number}} บาท</ion-button>
  <img  src="{{data.pic_url}}" width="100%"/>
  <ion-card *ngFor="let d of data.details; let i = index">
    <ion-card-header style="background-color: #3c3f45;">
      <ion-card-title style="color: white;">{{array_lang(d.name)}}<p class="selectlist">{{'select_a'|translate}} {{d.number_min}} - {{d.number_max}} {{'items'|translate}}</p></ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 0px;margin-bottom: -9px;" *ngFor="let e of d.sub; let j = index" (click)="selected_change(i,data,d,j)">
      <ion-list style="--ion-background-color: white">
        <ion-item style="margin-top: -10px;">
          <ion-label style="margin-bottom: 0px;">{{array_lang(e.name)}}</ion-label>
          <span *ngIf="e.price-0!==0">[
            <span *ngIf="e.price-0>0">+</span>{{e.price}} {{currency}}]</span>
          <ion-checkbox [(ngModel)]="e.selected"  slot="end" (ionChange)="selected_change(i,data,d,j)" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header style="background-color: #3c3f45;" *ngIf="data.toppings.length>0">
      <ion-card-title style="color: white;">ท็อปปิ้ง  {{'extra'|translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 0px;margin-bottom: -9px;" *ngFor="let t of data.toppings; let i = index">
      <ion-list style="--ion-background-color: white">
        <ion-item style="margin-top: -10px;padding: 0px;">
          <ion-label style="width: 120px;" color="222428"> {{t.title}}
            <span *ngIf="t.price-0!==0">[
            <span *ngIf="t.price-0>0">+</span>{{t.price * t.count}}</span>
          ]</ion-label>
          <ion-input style="margin-left: 20px;" value="0"  [(ngModel)]="t.count"></ion-input>
          <ion-buttons slot="end" style="margin-right: -25px;">
            <a (click)="addtopping(t)" fill="outline" style="margin-right: 0px;">
              <ion-icon name="add-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
            <a (click)="removetopping(t)" fill="outline" style="margin-right: 10px;">
              <ion-icon name="remove-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
          </ion-buttons>
         </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <ion-list style="--ion-background-color: white">
    <ion-item>
      <ion-label color="222428">{{'comment'|translate}}</ion-label>
      <ion-input placeholder="comment" [(ngModel)]="data.comments" style="margin-left:50px"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="222428">{{'number'|translate}}</ion-label>
      <ion-input style="margin-left: 60px;" type="number" (click)="$event.target.select()" (change)="onSelectChange(data)" [(ngModel)]="data.count"></ion-input>
      
      <ion-buttons>
        <ion-button (click)="add()" fill="outline" style="--border-radius: 2px;--border-width: thin;--border-color: #3880ff;">
          <ion-icon name="add-circle" style="font-size: 32px;" color="primary"></ion-icon>
        </ion-button>
        <ion-button (click)="remove()" fill="outline" style="--border-radius: 2px;--border-width: thin;--border-color: #3880ff;">
          <ion-icon name="remove-circle" style="font-size: 32px;" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label color="222428">{{'net_price'|translate}}</ion-label>
      <ion-input style="margin-left: 50px;" value="{{sum_item(data)|number}} {{currency}}" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons>
      <!-- <ion-button  class="shadowclose" expand="full"  (click)=" closeeditmodal()">ปิด</ion-button>  -->
      <ion-button  class="shadowadd" expand="full"  (click)="close(data)">บันทึก</ion-button>  
    </ion-buttons>
    </ion-toolbar>
</ion-footer>
