<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close()">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          รายละเอียดออเดอร์
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="icon-status">
    <div class="ion-group">
      <div>
        <i class="fas fa-file-excel"></i>
      </div>
      <div>
        <span>ส่งออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-file-download"></i>
      </div>
      <div>
        <span>รับออเดอร์</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-box"></i>
      </div>
      <div>
        <span>ดำเนินการ</span>
      </div>
    </div>
    <div class="ion-group">
      <div>
        <i class="fas fa-box-open"></i>
      </div>
      <div>
        <span>จัดส่ง</span>
      </div>
    </div>
  </div> -->

  <div class="detail">
    <p style="margin-top: 2px; margin-bottom: 2px;">
      <strong>สถานที่ส่ง : </strong> {{ data_details.order.address }}
    </p>
    <p style="margin-top: 2px; margin-bottom: 2px;">
      <strong>หมายเหตุการจัดส่ง : </strong> {{ data_details.order.member_comment
      }}
    </p>
    <div style="margin-top: 10px; text-align: center;">
      <div #mapElement class="map" style="height: 30vh;"></div>
    </div>
    <!-- <p style="margin-top: 2px;margin-bottom: 2px;">
      <strong>ร้าน :
        <span *ngIf="wait_order.res.name!=''">{{wait_order.res.name}}</span>
      </strong>
    </p> -->
    <p style="margin-top: 2px; margin-bottom: 2px;">
      <strong>ช้อนส้อม : </strong>
      <ng-container *ngIf="data_details.order.member_giveaway == 1; else elseNo">
        รับ
      </ng-container>
      <ng-template #elseNo>
        ไม่รับ
      </ng-template>

    </p>
    <p style="margin-top: 2px; margin-bottom: 2px;">
      <strong>รายการ : </strong>
    </p>
    <div *ngFor="let list of data_details.detail;let i = index" class="list-order">
      <div class="item-add" style="margin-left: 20px;">
        {{list.count}}
      </div>
      <div class="item-price">
        {{list.total_price}}.-
      </div>
      <div class="item-name">
        {{list.name}}
      </div>
      <p [innerHTML]="get_html(list)" style="
        width: 100%;
        margin-left: 100px;
        margin-top: 5px;
        margin-bottom: 0px;
      "></p>
    </div>
    <hr style="border-width: 1px;" />
    <p class="total">
      <strong>ยอดสุทธิ </strong>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total}}.-
    </p>
    <div style="margin-top: 65px;">
      <p style="text-align: center;">
        <ion-checkbox disabled></ion-checkbox>
        เก็บปลายทาง &nbsp;
        <ion-checkbox [checked]="true" disabled></ion-checkbox>
        โอน &nbsp;
      </p>
      <div style="text-align: -webkit-center;" *ngIf="data_details.slip[0].img_url != ''">
        <ion-img src="{{data_details.slip[0].img_url}}" alt="" style="max-width: 40%;" ></ion-img>
      </div>
    </div>
    <div class="btn-group">
      <ion-button class="btn-cc" (click)="presentAlertConfirm(order_key)" *ngIf="data_details.order.status == 3">ยกเลิกออเดอร์</ion-button>
    </div>
  </div>
</ion-content>