#head_title {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
  }

  .icon-status{
    text-align: center;
    padding-top: 25px;
    .ion-group{
      display: inline-block;
      margin: 15px;
      i{
        color: #878484;
        font-size: 40px;
      }
      span{
        font-size: 10px;
        
      }
    }
  }

  .detail{
    padding: 0px 30px 30px 30px;
    margin-top: 0px;
    color: #3E3E3E;
    .list-order{
      padding-bottom: 5px;
      div{
        display: inline-block;
      }
      .item-price{
        position: absolute;
        right: 30px;
      }
      .item-name{
        position: absolute;
        left: 110px;
      }
    }
    .total{
      text-align: right;
      border-bottom: double;
      width: 180px;
      position: absolute;
      right: 30px;
      padding-bottom: 8px;
      margin: 0px;
      padding-right: 12px;
    }
  }

  .btn-group{
    margin-top: 75px;
    .btn-cf{
      --background:#2751e6;
   }
    .btn-cc{
       --background:#E62754;
    }
    text-align: center;
    ion-button{ 
      
      color: white;
      --border-radius: 12px;
    }
  }
  