<ion-content>
  <div class="content">
    <ion-header>
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="arrow-back" routerLink="/{{route_res}}">
            <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
          </ion-col>
          <ion-col size="10" id="head_title" style="text-align: center;">
            การตั้งค่า
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
    <ion-item-group>
      <ion-item detail (click)="signInModal({},'login')" *ngIf="auth_u == null">
        <ion-label>เข้าสู่ระบบ</ion-label>
      </ion-item>
      <ion-item detail (click)="signInModal({},'regis')" *ngIf="auth_u == null">
        <ion-label>สมัครสมาชิก</ion-label>
      </ion-item>
      <!-- <ion-item detail (click)="clickLink('address')" *ngIf="auth_u != null">
        <ion-label>ประวัติการสั่ง</ion-label>
      </ion-item>
      <ion-item detail (click)="clickLink('address')" *ngIf="auth_u != null">
        <ion-label>ที่อยู่จัดส่ง</ion-label>
      </ion-item> -->
      <ion-item detail (click)="logoutUser()" *ngIf="auth_u != null">
        <ion-label>ออกจากระบบ</ion-label>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>