<ion-tabs>
  <div style="text-align: -webkit-center;">
    <div style="max-width: 490px;">

      <ion-tab-bar slot="bottom">

        <!-- <ion-tab-button (click)="click_tab('')">
          <ion-icon name="home"></ion-icon>
          <ion-label>Delta Food</ion-label>
        </ion-tab-button> -->

        <ion-tab-button (click)="click_tab(res_uri,'')">
          <ion-icon name="book"></ion-icon>
          <ion-label>หน้าร้าน</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button (click)="click_tab('deltafood','order')">
          <ion-icon name="create"></ion-icon>
          <ion-label>ออเดอร์</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="heart">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>แจ้งเตือน</ion-label>
          <ion-badge>200</ion-badge>
        </ion-tab-button> -->

        <ion-tab-button (click)="click_tab(res_uri,'config')">
          <ion-icon name="list"></ion-icon>
          <ion-label>อื่นๆ</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </div>
  </div>
</ion-tabs>