<div style="text-align: -webkit-center;">
  <div style="max-width: 460px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">
    <ion-header mode="ios">
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="arrow-back" (click)="dismiss('exit_final')">
            <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
          </ion-col>
          <ion-col size="11" id="head_title">
            เดลิเวอรี่
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
    <div style="position: static;top:45px;z-index: 5;">
      <ion-scroll scrollX="true" style="display: block; overflow-x: scroll;max-width: 460px;">
        <div class="group-food-scroll">
          <div *ngFor="let group of group_foods;let i = index" [ngClass]="{'active': i==index_active}"
            (click)="group_click(sliderRef,i)" style="display: inline-table;" class="group-food-pro">
            <p style="text-align: center;font-size: 16px;font-weight: 400;">
              {{group.name}}
            </p>
            <!-- <img
            src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1126,w_2000,x_0,y_181/f_auto,q_auto,w_1100/v1554932288/shape/mentalfloss/12531-istock-637790866.jpg"
            width="195px"> -->
          </div>
        </div>
      </ion-scroll>
    </div>
    <div style="text-align: -webkit-center;">
      <div style="max-width: 460px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">
        <div style="text-align: center; margin-top: 45%;" [hidden]="group_foods.length>0">
          <ion-spinner></ion-spinner> กำลังโหลดรายการอาหาร...
        </div>


        <ion-slides [mode]="ios" pager="false" #sliderRef [options]="slideOpts"
          (ionSlideDidChange)="slideDidChange(sliderRef);">
          <ion-slide *ngFor="let group of group_foods;let i_main = index">
            <ion-scroll scrollY="true" style="display: block; overflow-y: scroll; width: 100%;">
              <ion-list>
                <ion-item *ngFor="let p of get_food(group);let i_sub = index">
                  <div class="food-item" [ngClass]="{'no-img': false}">
                    <div class="img-food" *ngIf="true">
                      <img [src]="p.pic_id" (click)="openOption(Res,p,-1)" *ngIf="p.status != 0">
                      <img [src]="p.pic_id" *ngIf="p.status == 0">
                    </div>
                    <div class="food-detail">
                      <!-- <div class="rate-food">
                          <ion-icon name="star" class="icon-star"></ion-icon>
                          <ion-icon name="star" class="icon-star"></ion-icon>
                          <ion-icon name="star" class="icon-star"></ion-icon>
                          <ion-icon name="star" class="icon-star"></ion-icon>
                          <ion-icon name="star" class="icon-star"></ion-icon>
                          ({{5}})
                        </div> -->
                      <div class="name-food" (click)="openOption(Res,p,-1)">
                        {{p.name}}
                      </div>
                      <div class="price-food">
                        <ng-container *ngIf="p.status != 0; else elseSoldOut">
                          {{p.price|number}}.-
                        </ng-container>
                        <ng-template #elseSoldOut>
                          <span style="color: white; background-color: #e62754; padding: 0px 5px 0px 5px; font-size: small;" *ngIf="p.status == 0">หมด</span>
                        </ng-template>
                      </div>
                      <div class="detail-food">
                        host เปรียบเสมือนกับกล่องที่ใช่บรรจุ คอมโพเน้น เราสามารถเขียนcss
                        ลงในนี้เพื่อแต่งกล่องของเราให้สวยงามได้Zvxzcvzxvxzcv
                      </div>
                      <div class="pick-food" *ngIf="get_count(p.f_id)!=''">
                        {{get_count(p.f_id)}}
                      </div>
                      <div class="add-food" *ngIf="p.status != 0">
                        <strong style="font-size: xx-large;" (click)="remove_product(p)">-</strong>
                        &nbsp;
                        <strong style="font-size: xx-large;" (click)="add_product(p)">+</strong>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
            </ion-scroll>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</div>
<div style="text-align: -webkit-center;">
  <div style="max-width: 460px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">
    <ion-footer>
      <ion-toolbar *ngIf="count_cart(true)>0" id="tool_bar_cart" [mode]="ios" (click)="dismiss('login')">
        <div style="text-align: center;color: white; margin-bottom: 25px;">
          <label id="count_item" style="position: absolute;left: 15px;">
            <ion-badge style="--background:#e62754;">{{count_cart(false)}}</ion-badge>
          </label>
          <label style="position: absolute;float: left;left: 70px;">เลือกสถานที่จัดส่ง</label>
          <label id="count_price" style="position: absolute; right: 15px;">
            ฿ {{count_cart(true)|number}}.-
          </label>
        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
</div>