#head_title {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
}
.active {
  background-color: #d1ddff !important;
  border-bottom: solid 4px #2751e6;
}
.group-food-scroll {
  width: max-content;
  display: inline-table;
}
.group-food-pro {
  font-size: 22px;
  font-weight: 500;
  padding: 0px 2px 0px 2px;
  margin-bottom: 5px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  background-color: #f3f5fb;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
ion-slides {
  margin-top: -10px;
  ion-scroll {
    max-height: 77vh;
  }
  .md {
    ion-scroll {
      max-height: 70vh;
    }
  }
  .ios {
    ion-scroll{
      max-height: 70vh;
    }
  }
}
.swiper-wrapper {
  height: -webkit-fill-available;
}

ion-list {
  //background-color: bisque;
  width: 100%;
  margin-bottom: 40px;
  ion-item {
    margin: -10px 5px 20px -12px;
    .food-item {
      height: 100px;
      padding-top: 10px;
    }
    .img-food {
      display: inline-block;
      width: max-content;
      img {
        width: 100px;
      }
    }
    .food-detail {
      display: inline-block;
      margin: 0px 0px 15px 10px;
      .rate-food {
        position: absolute;
        top: 5px;
        .icon-star {
          color: #f9c828;
        }
      }
      .name-food {
        position: absolute;
        top: 5px;
        font-weight: 400;
        font-size: 16px;
      }
      .detail-food {
        position: absolute;
        top: 30px;
        width: calc(100vw - 220px);
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-size: 12px;
        color: #bebebe;
      }
      .price-food {
        position: absolute;
        top: 48px;
        padding: 1px;
        text-align: center;
        color: #2751e6;
        font-size: 16px;
        font-weight: bold;
      }
      .pick-food {
        position: absolute;
        top: 5px;
        right: 15px;
        width: 30px;
        padding: 1px;
        text-align: center;
        color: white;
        background-color: #e62754;
        font-size: small;
      }
      .add-food {
        position: absolute;
        top: 50px;
        right: 15px;
        .has-option {
          font-size: 8.5px;
          position: absolute;
          right: -12px;
          top: 15px;
          width: 40px;
        }
      }
    }
    .no-img {
      .name-food {
        top: 30px;
      }
      .detail-food {
        width: calc(100vw - 110px);
        top: 50px;
      }
      .price-food {
        top: 65px;
      }
      .pick-food {
        top: 5px;
      }
    }
  }
}
#cart_item {
  text-align: center;
  margin-top: 4px;
  div {
    top: 10px;
    span {
      font-size: 10px;
      position: absolute;
      margin-top: -12px;
      border-radius: 4px;
      background-color: #e62754;
      padding: 4px 6px 4px 6px;
    }
  }
}

#tool_bar_cart {
  --background: #2751e6;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  height: 55px;
  .md {
    .title-md {
      margin-bottom: 15px;
    }
    #count_item {
      float: left;
    }
    #count_price {
      float: right;
    }
  }
  .ios {
    #count_item {
      float: left;
    }
    .title-ios {
      margin-top: 0px;
    }
  }
}
