#head_title {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
}

.card-comment {
  ion-card-content {
    margin-top: 0px;
    padding-top: 0px;
  }
  .profile-user {
    margin: 15px 0px 5px 15px;
    border-radius: 5px;
    border: 5px rgb(241, 241, 241) solid;
    display: inline-block;
    box-shadow: 0px 1px 5px #777777;
    img {
      width: 40px;
    }
  }
  .rate-user {
    position: absolute;
    display: inline-block;
    margin: 20px 0px 0px 10px;
    .icon-star {
      color: #f9c828;
      font-size: large;
    }
  }
  .name-user {
    position: absolute;
    display: inline-block;
    margin: 25px 0px 0px 10px;
    p {
      width: 210px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .date-comment {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin: 20px 0px 0px 0px;
  }
}

#post_user {
  height: 190px;
  .post-profile-user {
    margin: 15px 0px 5px 15px;
    border-radius: 2px;
    border: 2px rgb(241, 241, 241) solid;
    display: inline-block;
    box-shadow: 0px 1px 5px #777777;
    img {
      width: 30px;
    }
  }
  .post-rate-user {
    position: absolute;
    display: inline-block;
    margin: 25px 0px 0px 10px;
    .icon-star {
      color: #ccd7ff;
      font-size: 22px;
    }
    .rate-picked{
      color: #f9c828;
    }
  }
  .post-comment-user {
    // position: absolute;
    // display: inline-block;
    margin: 0px 15px 0px 15px;
    background-color: #f6f4f4c9;
    border-radius: 0px 10px 10px 15px;
    height: 70px;
    ion-textarea {
      width: 98%;
      textarea {
        margin-top: -5px;
        margin-left: 5px;
      }
    }
  }
  .post-send-user {
    @media only screen and (max-width: 959px) {
      margin-top: -130px;
      margin-left: calc(100vw - 75px);
    }
    @media only screen and (min-width: 960px) {
      margin-top: -130px;
      margin-left: calc(100vw - 70px);
    }
    position: absolute;
    display: inline-block;
    span {
      color: #486ef6;
      float: right;
      margin-right: 15px;
      margin-top: -30px;
    }
  }
}
