<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" routerLink="/res_home/deltafood">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title">
          รีวิวร้านอาหาร
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="post_user">
    <ion-card-header style="padding: 10px 0px 0px 15px;font-size: 20px;">
      สร้างโพสต์
    </ion-card-header>
    <div class="post-profile-user">
      <img src="https://39rqgn14z3ug4c49y41m62xn-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/19.jpeg">
    </div>
    <div class="post-rate-user">
        <ion-icon name="star" class="icon-star" [ngClass]="{'rate-picked': color_rate >= (i+1)}" (click)="giveRate(star_rate)"></ion-icon>
      </span>
    </div>
    <div class="post-comment-user">
      <ion-textarea placeholder="Pun_panjapon คุณกำลังคิดอะไรอยู่..."></ion-textarea>
    </div>
    <div class="post-send-user">
      <span>
        <a>โพสต์</a>
      </span>
    </div>
  </ion-card>

  <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,1]" class="card-comment">
    <div class="head-user">
      <div class="profile-user">
        <img src="https://39rqgn14z3ug4c49y41m62xn-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/19.jpeg">
      </div>
      <div class="date-comment">
        20-03-2020
      </div>
      <div class="rate-user">
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
      </div>
      <div class="name-user">
        <p>
          Pun_panjapon
        </p>
      </div>
    </div>
    <ion-card-content>
      <div>
        <p>
          อาหารญี่ปุ่นวัตถุดิบดี จัดแต่งอย่างประณีต เสริฟตามลำดับ จะเลือกทานแบบคอร์ส
          ไคเซกิหรือเลือกทานตามเมนูที่ชอบก็ได้ อร่อยดีงาม บริการเลิศในบรรยากาศสงบแบบบ้านญี่ปุ่น
          เมนูขึ้นชื่อเป็นเต้าหู้ที่ทำจากถั่วเหลืองออแกนิค ไม่ถนัดเต้าหู้ก็มีซูชิ ซาชิมิ เนื้อวัว
          ปูทาราบะและอื่นๆให้เลือก เวลาทานเนื้อย่างอาจมีควันและกลิ่นรบกวนเล็กน้อย โดยรวมดีงามถูกใจ
          ตามสั่งราคาสูงหน่อยค่ะ ส่วนlunch Set ราคาไม่แพง อ่านต่อได้ที่
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>