// .table-queue {
//   padding: 0px;
//   width: 90px;
//   height: 90px;
//   display: inline-block;
//   justify-content: center;
//   flex-wrap: wrap;
//   text-align: center;
//   margin: 10px;
//   .pick-table {
//     width: 90px;
//     height: 90px;
//     border-radius: 8px;
//     color: white;
//     font-weight: 900;
//     font-size: 20px;
//   }
// }
// ion-col {
//   width: 200px;
// }

// .container {
//   display: flex;
//   flex-wrap: wrap;
// }

#head_title{
    text-align: center; 
    padding-top: 10px;
    font-weight: 900;
}

