<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close()">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title" style="text-align: center;">
          {{data.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>{{data.name}}</p>
    <p>
      <strong>ราคา : </strong>{{ data.price}}
    </p>
  </div>
  <hr style="border-bottom: solid 1px #383a3e; width: 95%;" *ngIf="data.details.length>0">
  <div *ngFor="let d of data.details; let i = index" class="details-product">
    <div>
      <div class="head-details">
        <p>
          <strong>{{array_lang(d.name)}}</strong>
          (เลือกได้ {{d.number_min}} - {{d.number_max}} รายการ)
        </p>
      </div>
      <div style="text-align: end;margin-top: -20px;color:white"></div>
    </div>
    <div class="ion-text-center sub-details" style="margin-top:10px">
      <ion-button *ngFor="let e of d.sub; let j = index" (click)="selected_change(i,data,d,j)"
        [ngClass]="{'button-outline':!e.selected}">
        {{array_lang(e.name)}}

        <ion-badge *ngIf="e.price-0!==0" style="--background:#E62754; position: fixed;right: 0; bottom: 0;">
          <span *ngIf="e.price-0>0">+</span>{{e.price}}</ion-badge>
      </ion-button>
    </div>
  </div>
  <hr style="border-bottom: solid 1px #383a3e; width: 95%;" *ngIf="data.details.length>0">
  <div *ngIf="data.toppings.length>0">
    <div *ngIf="data.toppings.length>0">
      <p>
        <strong>
          ท็อปปิ้ง
        </strong>
        <!-- {{'extra'|translate}} -->
      </p>
    </div>
    <div class="topping" style="">
      <ion-list style="--ion-background-color: white">
        <ion-item style="" *ngFor="let t of data.toppings; let i = index">
          <ion-label style="width: 120px;" color="222428"> {{t.title}}
            <span *ngIf="t.price-0!==0">[
              <span *ngIf="t.price-0>0">+</span>{{t.price}}</span>
            ]</ion-label>
          <span>จำนวน {{t.count}} รวม {{t.count*t.price}} {{currency}} </span>
          <ion-buttons slot="end" style="margin-right: -15px;">
            <a (click)="addtopping(t)" fill="outline" style="margin-right: 0px;">
              <ion-icon name="add-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
            <a (click)="removetopping(t)" fill="outline" style="margin-right: 10px;">
              <ion-icon name="remove-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>
    <hr style="border-bottom: solid 1px #383a3e; width: 95%;">
  </div>

  <div>
    <div>
      <strong>คอมเม้น</strong>
    </div>
    <div class="ion-text-center" style="margin-top:10px">
      <ion-textarea color="bark" placeholder="อย่างอื่นที่ต้องการเพิ่มในเมนูนี้......." [(ngModel)]="data.comments">
      </ion-textarea>
    </div>
  </div>
  <hr style="border-bottom: solid 1px #383a3e; width: 95%;">

  <div>
    <div style="height: 88px;">
      <ion-fab vertical="buttom" horizontal="center">
        <ion-fab-button (click)="add()" style="margin-top: 5px;margin-left: 80px;color: #7044ff;right: 40px;">
          <ion-icon name="add" style="font-size: 30px;"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          style="--background:#E62754; margin-top: 5px;position: absolute; margin-top: -55px;right: 55px;color: #7044ff;font-size: 30px; margin-right: 16px;">
          {{data.count}}
        </ion-fab-button>
        <ion-fab-button (click)="remove()"
          style="margin-top: 5px;position: absolute; margin-top: -55px;right: 150px;color: #7044ff;">
          <ion-icon name="remove" style="font-size: 30px;color:white"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
<ion-toolbar>
  <ion-title style="position: absolute;bottom: 10px;">
    รวม {{sum_item(data)|number}}
    {{currency}}
  </ion-title>
  <ion-title style="position: absolute; right: 0px; bottom: 10px;">
    <ion-button class="ion-float-right" expand="full" (click)="add_product(data)" color="success"
      >บันทึก
    </ion-button>
  </ion-title>
</ion-toolbar>
<!-- <ion-footer>
  <ion-toolbar style="--background: #2751e6;">
    <ion-title style="padding: 0px;">
      <ion-button (click)="close()" expand="full" color="light"
        style="width: 32%;height: 50px;font-size: 20px;display: inline-block;">ปิด</ion-button>
      <ion-button color="dark" style="width: 32%;height: 50px;font-size: 20px;"> รวม {{sum_item(data)|number}}
        {{currency}}</ion-button>
      <ion-button class="ion-float-right" expand="full" (click)="add_product(data)" color="success"
        style="width: 32%;height: 50px;font-size: 20px;">บันทึก
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer> -->