ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  .details-product {
    .sub-details {
        ion-button{
            width: 32%;
            height: 45px;
            font-size: 20px;
            
        }
      .button-outline {
        --border-color: #505050;
        --color: #505050;
      }
    }
  }
}
