<div style="text-align: -webkit-center;">
  <ion-header mode="ios md">

    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="arrow-back" (click)="dismiss('exit_final')">
            <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
          </ion-col>
          <ion-col size="11" id="head_title">
            จอง โต๊ะ/คิว
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </ion-header>
</div>
<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label>จองโต๊ะ</ion-label>
      <ion-checkbox slot="start" (ionSelect)="checkQueue(1)"></ion-checkbox>
    </ion-item>
    <ion-item lines="full">
      <ion-label>จองคิว</ion-label>
      <ion-checkbox slot="start" (ionSelect)="checkQueue(0)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="true; else elseTemplate">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ชื่อ - สกุล</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">เบอร์โทร</ion-label>
        <ion-input placeholder="08x-xxx-xxxx"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">จำนวน(คน)</ion-label>
        <ion-input type="number" min="1" max="99"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">โซน</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>เลือกวัน-เวลา : </ion-label>
        <ion-input type="datetime-local" style="display: list-item;"> </ion-input>
        <!-- <ion-datetime value="2020-05-27 18:24" min="2000" max="2100" [dayShortNames]="customDayShortNames"
          displayFormat="วันที่ DD MMM YYYY เวลา HH:mm น." monthShortNames="ม.ค., ก.พ., มี.ค., เม.ย., พ.ค., มิ.ย., ก.ค., ส.ค., ก.ย., ต.ค., พ.ย., ธ.ค.">
        </ion-datetime> -->
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
    <ion-list>
      จองคิว
    </ion-list>
  </ng-template>
</ion-content>