.body-content {
  background-color: whitesmoke;
  height: 100vh;
}
ion-card {
  background-color: #ffffffd6;
}
.card {
  .header {
    height: 150px;
    .avatar {
      width: 90px;
      height: 90px;
      position: relative;
      margin-left: 20px;
      bottom: -70px;
      background-color: rgb(255, 255, 255);
      padding: 5px;
      border-radius: 8px;
      border: 5px rgb(241, 241, 241) solid;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
      img {
        display: block;
      }
    }
    .playername {
      text-shadow: 2px 2px 2px #000000;
    }
    .titile-res {
      display: inline-block;
      position: absolute;
      top: 100px;
      color: white;
      text-align: left;
      padding-left: 15px;
    }
  }
  height: 170px;
  background: linear-gradient(
    0deg,
    #020024 0%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(255, 255, 255, 0) 34%,
    rgba(0, 0, 0, 0) 100%
  );
}

.head {
  height: 170px;
  background-size: 100%;
}

.icon-menu-group {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 15px;
  img {
    width: 30px;
    margin-left: 20px;
  }
  ion-col {
    text-align: center;
  }
  .icon-menu {
    font-size: small;
    padding: 10px;
    width: 90px;
    margin: 0 auto;
    border-radius: 50px;
  }
  .icon-tite {
    font-size: 12px;
  }
  ion-col {
    div {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}

.res-rate {
  .icon-star {
    color: #f9c828;
    font-size: large;
  }
}

// recomend item
.group-food-pro {
  font-size: 22px;
  font-weight: 500;
  padding: 0px 2px 0px 2px;
  margin-bottom: 5px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  background-color: #f3f5fb;
  img {
    border-radius: 5px;
  }
}

#map_deltafood {
  padding-bottom: 20px;
  img {
    border-radius: 5px;
    max-width: 100%;
    border: 0;
    box-shadow: 0px 0px 5px #c1bdbd;
  }
}

ion-list {
  //background-color: bisque;
  width: 100%;
  margin-bottom: 40px;
  ion-item {
    margin: 20px 5px -10px 5px;
    .food-item {
      height: 100px;
      padding-top: 10px;
    }
    .img-food {
      display: inline-block;
      width: 120px;
      img {
        width: 100%;
      }
    }
    .food-detail {
      display: inline-block;
      margin: 0px 0px 15px 10px;
      .rate-food {
        position: absolute;
        top: 10px;
        .icon-star {
          color: #f9c828;
        }
      }
      .name-food {
        position: absolute;
        top: 30px;
        font-weight: 400;
        font-size: 16px;
      }
      .detail-food {
        position: absolute;
        top: 50px;
        width: calc(100vw - 220px);
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-size: 12px;
        color: #bebebe;
      }
      .price-food {
        position: absolute;
        top: 65px;
        padding: 1px;
        text-align: center;
        color: #2751e6;
        font-size: 16px;
        font-weight: bold;
      }
      .pick-food {
        position: absolute;
        top: 5px;
        right: 15px;
        width: 30px;
        padding: 1px;
        text-align: center;
        color: white;
        background-color: #e62754;
        font-size: small;
      }
      .add-food {
        position: absolute;
        top: -10px;
        right: 60px;
        .has-option {
          font-size: 10px;
          position: absolute;
          right: -50px;
          top: 65px;
        }
      }
    }
    .no-img {
      .name-food {
        top: 30px;
      }
      .detail-food {
        width: calc(100vw - 130px);
        top: 50px;
      }
      .price-food {
        top: 65px;
      }
      .pick-food {
        top: 5px;
      }
    }
  }
}

.status-2{
  background-color: #ccd7ff;
  color: rgb(43, 43, 43);
}
.status-3{
  background-color: gainsboro;
}
.status-4{
  background-color: #2751e6;
  color: white;
}

.btn_menu {
  display: inline-block;
  ion-card {
    margin: 0px, 5px, 0px, 5px;
    ion-card-content {
      padding: 0px;
    }
  }
}

// #map_response {
//   text-align: -webkit-center;
//   /* Extra small devices (phones, 600px and down) */
//   @media only screen and (max-width: 600px) {
//     img {
//       inline-size: auto;
//       width: 100%;
//     height: 100%;
//     }
//   }

//   /* Small devices (portrait tablets and large phones, 600px and up) */
//   @media only screen and (min-width: 600px) {
//     img {
//       inline-size: auto;
//       width: 80%;
//       height: 80%;
//     }
//   }

//   /* Medium devices (landscape tablets, 768px and up) */
//   @media only screen and (min-width: 768px) {
//     img {
//       inline-size: auto;
//       width: 70%;
//       height: 70%;
//     }
//   }

//   /* Large devices (laptops/desktops, 992px and up) */
//   @media only screen and (min-width: 992px) {
//     img {
//       inline-size: auto;
//       width: 60%;
//       height: 60%;
//     }
//   }

//   /* Extra large devices (large laptops and desktops, 1200px and up) */
//   @media only screen and (min-width: 1200px) {
//     img {
//       inline-size: auto;
//       width: 55%;
//       height: 55%;
//     }
//   }
// }
