<ion-content>
  <div class="content">
    <div class="body-content">
      <div style="background-size: cover;" [ngStyle]="{'background-image': 'url('+res_data.cover_url+')'}" class="head">
        <div class="card">
          <div class="header">
            <div class="avatar">
              <img src="https://app.deltafood.co/img/logo.png" alt="" />
            </div>
            <div class="titile-res">
              <div class="user-meta ion-text-center">
                <h4 class="playername">{{res_data.name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <ion-card>
        <ng-container *ngIf="user != null; else elseLogin">
          <ion-card-content>
            <div style="display: inline;">
              <strong>
                ยินดีต้อรับคุณ :
              </strong>
              {{user.name}}
            </div>
            <div style="display: inline;position: absolute;right: 25px;">
              <a (click)="logOutFacebook()" style="color: #2751e6;cursor: pointer;">
                <strong>
                  ออกจากระบบ
                </strong>
              </a>
            </div>
          </ion-card-content>
        </ng-container>
        <ng-template #elseLogin>
          <ion-card-content>
            <div style="text-align: center;">
              <strong>ท่านยังไม่ได้ลงชื่อเข้าสู่ระบบ</strong>
            </div>
          </ion-card-content>
        </ng-template>
      </ion-card> -->

      <!-- <form [formGroup]="loginForm">
        <ion-card [hidden]="login.status">
          <ion-card-header>
            <div style="float: right;width: max-content;margin-right: inherit;margin-top: inherit;"
              (click)="closeSignIn()">
              <label style="cursor: pointer;">ปิด</label>
            </div>
          </ion-card-header>

          <ion-card-content>
            <div>
              <ion-item>
                <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
                <ion-input maxlength="10" formControlName="phone_id"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">รหัสผ่าน</ion-label>
                <ion-input type="password" formControlName="phone_pass"></ion-input>
              </ion-item>
            </div>
            <div style="text-align: center;">
              <ion-button size="small" (click)="loginUser()">เข้าสู่ระบบ</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </form> -->

      <!-- <form [formGroup]="regisForm">
        <ion-card [hidden]="register.status">
          <ion-card-header>
            <div style="float: right;width: max-content;margin-right: inherit;margin-top: inherit;"
              (click)="closeSignIn()">
              <label style="cursor: pointer;">ปิด</label>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-item>
                <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
                <ion-input maxlength="10" type="tel" formControlName="phone_id_reg"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">รหัสผ่าน</ion-label>
                <ion-input placeholder="* โปรดกรอก 6-13 ตัวเลขเเละตัวอักษร" type="password"
                  formControlName="phone_pass_reg"></ion-input>
              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="3" style="text-align: center;padding-top: 6px;">
                    <ion-button expand="block" color="success" (click)="getOTP()">ขอ OTP</ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input style="background-color: rgb(246, 247, 248);margin-top: 4px;" value="{{otp_obj.code}}"
                      readonly="true">
                    </ion-input>
                  </ion-col>
                  <ion-col size="1" style="text-align: center;margin-top: 14px;">
                    <strong> : </strong>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input placeholder="กรอก OTP" maxlength="6" style="background-color: aliceblue;margin-top: 4px;"
                      formControlName="phone_otp"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div style="text-align: center;">
              <ion-button [hidden]="regisForm.invalid" expand="full" size="small" (click)="registerUser()">สมัครสมาชิก
              </ion-button>
              <ion-button [hidden]="!regisForm.invalid" expand="full" size="small" color="light">โปรดระบุให้ครบ
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </form> -->
      <div style="text-align: center; margin-top: 10px; color: #262626;" [hidden]="!order_load">
        <div>
          <ion-spinner></ion-spinner>
        </div>
        <div>
          <span>กำลังโหลดออเดอร์ที่สั่ง...</span>
        </div>
      </div>
      <ion-card *ngFor="let item of order_history; let i = index">
        <ion-card-content (click)="showOrder(item.order_id)">
          <div style="
              position: absolute;
              width: 140px;
              text-align: center;
              right: 0;
              top: 7px;
              padding: 2px 10px 2px 10px;
              box-shadow: -1px 2px 2px #a28484ee;
            " class="status-{{item.status}}">
            {{item.status_txt}}
          </div>
          <div>
            <div>
              <label>
                order ID :
              </label>
              {{item.order_id_res}}
            </div>
            <div>
              ฿ {{item.price_food|number}}.-
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card *ngFor="let item of order_history_cc; let i = index">
        <ion-card-content>
          <div style="
              position: absolute;
              width: 125px;
              text-align: center;
              right: 0;
              top: 7px;
              padding: 2px 10px 2px 10px;
              box-shadow: -1px 2px 2px #a28484ee;
              background-color: #e62754;
              color: white;
            ">
            ร้านค้ายกเลิก
          </div>
          <div>
            <div>
              <label>
                order ID :
              </label>
              {{item.order_id_res}}
            </div>
            <div>
              ฿ {{item.price_food|number}}.-
            </div>
            <div>
              <label style="color:  #e62754;">สาเหตุการยกเลิก : </label>
              ความน่าสนใจอีกอย่างของเกม Valorant คือการแนะนำตัวละครผ่านตัวอย่างเกม
              ที่มีเพลงประกอบที่ให้ความรู้สึกที่แตกต่างกัน และดูสมกับตัวละครนั้นๆ แถมช่วงเวลาที่ผ่านมา พวกเขาก็ปล่อย
              Playlist เพลงประจำตัวของพวกเขาให้ได้ฟังกันครบทุกตัวละคร
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-row class="icon-menu-group">
          <!-- <ion-col>
            <div class="icon-menu" routerLink="queue_table">
              <img src="https://image.flaticon.com/icons/png/512/1069/1069351.png">
              <div class="icon-tite">จองโต๊ะ</div>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-menu" routerLink="queue">
              <img src="https://image.flaticon.com/icons/png/128/2331/2331926.png">
              <div class="icon-tite">จองคิว</div>
            </div>
          </ion-col> -->
          <ion-col>
            <div class="btn_menu">
              <ion-card>
                <ion-card-content>
                  <div class="icon-menu" (click)="openDeliveryModal(res_data.id_res_auto)">
                    <img src="https://image.flaticon.com/icons/png/128/743/743501.png">
                    <div class="icon-tite">เดลิเวอรี่</div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <!-- <div class="btn_menu">
              <ion-card>
                <ion-card-content>
                  <div class="icon-menu" (click)="openQueueModal()">
                    <img src="https://image.flaticon.com/icons/png/128/2331/2331926.png">
                    <div class="icon-tite">จอง โต๊ะ/คิว</div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div> -->
          </ion-col>
        </ion-row>
        <ion-card-header style="padding-bottom: 0px; padding-top: 0px;">
          <!-- <a (click)="logOutFacebook()" style="color: #2751e6;cursor: pointer;">
            <strong>
              ออกจากระบบ
            </strong>
          </a> -->
          <!-- <ion-card-subtitle>
            <div class="res-rate">
              <span routerLink="reviews_res">ดูรีวิว (305)</span>
              <ion-icon name="star" class="icon-star"></ion-icon>
              <ion-icon name="star" class="icon-star"></ion-icon>
              <ion-icon name="star" class="icon-star"></ion-icon>
              <ion-icon name="star" class="icon-star"></ion-icon>
              <ion-icon name="star" class="icon-star"></ion-icon>
            </div>
          </ion-card-subtitle> -->
          <ion-card-title style="margin-bottom: 10px;">บริการจากทางร้าน</ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-bottom: 0px;">
          <div>
            <ul>
              <li *ngFor="let detail of res_data.res_service">
                {{detail.res_s_name}}
              </li>
            </ul>
          </div>
        </ion-card-content>
        <ion-card-header style="padding-bottom: 10px;padding-top: 0px;">
          <ion-card-title>ที่อยู่ร้าน</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{res_data.address}}
          </p>
        </ion-card-content>
        <ion-card-header style="padding-bottom: 10px;padding-top: 0px;">
          <ion-card-title>เวลา เปิด-ปิด</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li *ngFor="let time of res_data.open_time">
              <span>{{time.date}} เวลา {{time.timeStart | date:'HH:mm'}} - {{time.timeEnd | date:'HH:mm'}} น.</span>
            </li>

          </ul>
          <p>
            <strong style="color: #262626">ตำเเหน่งร้าน : </strong>
            <a href="https://goo.gl/maps/BsfiCBN9wDW7MUmRA">คลิกเพื่อไปยังตำเเหน่งร้าน</a>
          </p>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card id="map_deltafood">
        <ion-card-content>
          <p style="margin-bottom: 15px;">
            <strong style="color: #262626">ตำแหน่งร้าน</strong>
          </p>
          <div id="map_response">
            <a href="https://goo.gl/maps/BsfiCBN9wDW7MUmRA">
              <img
                src="https://maps.googleapis.com/maps/api/staticmap?center=16.454272,102.8416497&zoom=16&scale=1&size=300x300&maptype=roadmap&key=AIzaSyADQl79AootGyhKCW8MQ8xxz561gPFu0rA&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C16.454272,102.8416497"
                alt="">
            </a>
          </div>

        </ion-card-content>
      </ion-card> -->

      <!-- <ion-card>
        <ion-list>
          <ion-item>
            <strong style="color: #262626">เมนูแนะนำ</strong>
          </ion-item>
          <ion-item *ngFor="let item of item;let i = index">
            <div class="food-item" [ngClass]="{'no-img': item%2==1}">
              <div class="img-food" *ngIf="item%2==0">
                <img src="https://www.parentsdome.com/wp-content/uploads/2018/11/deltafood.jpg">
              </div>
              <div class="food-detail">
                <div class="rate-food">
                  <ion-icon name="star" class="icon-star"></ion-icon>
                  <ion-icon name="star" class="icon-star"></ion-icon>
                  <ion-icon name="star" class="icon-star"></ion-icon>
                  <ion-icon name="star" class="icon-star"></ion-icon>
                  <ion-icon name="star" class="icon-star"></ion-icon>
                  ({{item*8}})
                </div>
                <div class="name-food">
                  ข้าวไข่ดาวพิเศษ
                </div>
                <div class="price-food">
                  50.-
                </div>
                <div class="detail-food">
                  host เปรียบเสมือนกับกล่องที่ใช่บรรจุ คอมโพเน้น เราสามารถเขียนcss
                  ลงในนี้เพื่อแต่งกล่องของเราให้สวยงามได้
                </div>
                <div class="pick-food" [hidden]="amount[i]==0">
                  {{amount[i]}}
                </div>
                <div class="add-food">
                  <ng-container *ngIf="item%2==0; else elseOption">
                    <strong style="font-size: xx-large;" (click)="deleteItem(i)">-</strong>
                    &nbsp;
                    <strong style="font-size: xx-large;" (click)="addItem(i)">+</strong>
                  </ng-container>
                  <ng-template #elseOption>
                    <ion-button size="small" class="has-option" (click)="openOption()">Option</ion-button>
                  </ng-template>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card> -->
    </div>
  </div>
</ion-content>