.viewitem{
    margin-bottom: -17px;
}
.viewcol1{
    margin-top: -30px;
}
.viewimg{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left:-4px
}
.viewnameproduct{
    margin-top: -25px;
    padding-left: 7px;
}
.viewcol3{
    position: absolute;
    right: 1px;
    padding-top: 24px ;
}
.viewbtn1{
    position: absolute;
    margin-top: -53px;
    right: 40px;
}
.viewcount{
    position: absolute;
    right: 50px;
    margin-top: -50px;
}
.viewbtn2{
    position: absolute;
    margin-top: -53px;
    right: -3px;
}
.viewcheck{
    position: absolute;
    right: -1px;
    margin-top: -3px;
}