<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">เช็ครายการจองโต๊ะ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-header color="light">
      <div
        (click)="moot=!moot"
        class="ion-text-right"
        style="margin-top:-6px; margin-bottom: -6px;"
      >
        <ion-card-title style="position: absolute;left: 17px;"
          >รายการอาหารที่สั่ง</ion-card-title
        >

        <ion-icon
          name="arrow-dropdown"
          [hidden]="moot"
          style="zoom:2"
        ></ion-icon>
        <ion-icon
          name="arrow-dropup"
          [hidden]="!moot"
          style="zoom:2"
        ></ion-icon>
      </div>
    </ion-card-header>
  </ion-card>
  <div [hidden]="!moot">
    <ion-card>
      <ion-item class="viewitem">
        <ion-col class="viewcol1" size="4">
          <ion-img
            class="viewimg"
            src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"
          ></ion-img>
        </ion-col>
        <ion-col size="4">
          <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
        </ion-col>
        <ion-col size="4" class="viewcol3">
          <div style="width: 100%;">
            <div class="btn-con ion-text-center" slot="end">
              <ion-button color="success" size="small" class="viewbtn1" (click)="bedit()">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button class="viewbtn2" color="danger" size="small" (click)="del()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <p class="viewcheck">
            รวม <ion-badge color="success">44 ฿</ion-badge>
          </p>
        </ion-col>
      </ion-item>
    </ion-card>
  </div>
  <ion-card style="box-shadow: none;">
    <ion-card-header color="light">
      <div
        (click)="moot1=!moot1"
        class="ion-text-right"
        style="margin-top:-6px; margin-bottom: -6px;"
      >
        <ion-card-title style="position: absolute;left: 17px;"
          >สรุปการจองโต๊ะ</ion-card-title
        >
        <ion-icon
          name="arrow-dropdown"
          [hidden]="moot1"
          style="zoom:2"
        ></ion-icon>
        <ion-icon
          name="arrow-dropup"
          [hidden]="!moot1"
          style="zoom:2"
        ></ion-icon>
      </div>
    </ion-card-header>
  </ion-card>
  <div [hidden]="!moot1">
    <ion-item>
      <ion-label position="fixed">ชื่อ-นามสกุล</ion-label>
      <ion-input
        style="background-color: rgba(127, 137, 138, 0.952);border-radius: 5px;"
        value="ไตรรงค์ จำปานิล"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">เบอรโทร</ion-label>
      <ion-input
        type="tel"
        style="background-color: rgba(127, 137, 138, 0.952);border-radius: 5px;"
        value="0854593243"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">จำนวนคน</ion-label>
      <ion-input
        type="number"
        style="background-color: rgba(127, 137, 138, 0.952);border-radius: 5px;"
        value="5"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">วัน/เดือน/ปี</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        min="1994-03-14"
        max="2012-12-09"
        value="2002-09-23T15:03:46.789"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">เวลา</ion-label>
      <ion-datetime displayFormat="HH:mm" value="00:00"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">ค่าจองโต๊ะ</ion-label>
      <ion-input
        style="background-color: rgba(127, 137, 138, 0.952);border-radius: 5px;"
        value="100.00"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">ค่าอาหาร</ion-label>
      <ion-input
        style="background-color: rgba(127, 137, 138, 0.952);border-radius: 5px;"
        value="500.00"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-content>
       ชำระเงินค่าอาหารและจองโต๊ะผ่านเลขบัญชี <b style="color: green;">0181214414</b> ธ.กสิกรไทย นายไตรรงค์  จำปานิล
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">แนบสลิป</ion-label>
      <div class="ion-text-center" style="padding-left: 85px;"><ion-icon (click)="openFileBrowser($event)"  name="cloud-upload" style="font-size: 75px;"></ion-icon>
        <input type="file" style="display: none;" id="uploadfile" class="hide-style" name="tenantPhotoId" (change)="onFileChange($event)"></div>
        
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title slot="start">
      <h6>รวมทั้งหมด : 5000.00 บาท</h6>
    </ion-title>
    <ion-button (click)="checkm()" color="success" slot="end" class="next">
      <ion-title>
        <h6 style="margin-top:10px">ชำระเงิน</h6>
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-footer>
