<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      จองคิว
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background: white" >
      <ion-card-title class="ion-text-center">ทั้งหมด</ion-card-title>
      <h1 class="ion-text-center">{{queue_count}} คิว</h1>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header style="background: white">
      <ion-card-title class="ion-text-center">กรอกข้อมูลจองคิว</ion-card-title>
     
    </ion-card-header>
  </ion-card>
  <ion-card style="--ion-background: white">
    <ion-card-content style="padding: 0px;">
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*ชื่อเล่น</ion-label>
        <ion-input name="name" [(ngModel)]="dataq.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*เบอร์โทร</ion-label>
        <ion-input name="phone" [(ngModel)]="dataq.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 18px;" position="stacked" >*จำนวนคน</ion-label>
        <ion-input name="people" [(ngModel)]="dataq.people"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons>
      <ion-button  class="shadowadd" expand="full"  (click)="rawqueue()">ยืนยัน</ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-footer>