.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-content {
  --background: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-black-meat-western-food-banner-background-image_194600.jpg)
      no-repeat top center/cover fixed 100%,
      #ffffff;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
}

ion-toolbar {
  --background: transparent;
}
.card {
  margin: 0 auto;
  .header {
    height: 150px;
    .avatar {
      width: 120px;
      height: 120px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: calc(-1 * (80px + 4px));
        border: 8px solid #9dc912;
        background-color: #fff;
      }
    }
  }
}
.card-body {
  background-color: #ffffff;
  padding: 30px 30px 5px 30px;
  // height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
    padding-top: 20px;

    .playername {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .country {
      font-size: 90%;
      color: #949ea6;
      text-transform: uppercase;
      margin: 0 auto;
    }
  }
}
.btn-group {
  ion-button {
    width: 25%;

    display: inline-block;
  }
}
ion-slide {
  width: 100px;

  .card {
    width: 50vw;
  }
  ion-card {
    margin: 2px 2px;
  }
}
.ion-text-center,
[text-center] {
  text-align: center !important;
  color: #3880ff;
}
.slide1 {
  width: 100%;
  overflow-x: scroll;
}
.slide2 {
  ion-card {
    display: inline-block;
    width: 150px;
    margin: 2px;
  }
  padding-top: 5px;
}

.htitle {
  font-size: 20px;
}
.review ion-card {
  margin: 5px 0px;
}

.my-custom-menu {
  --width: 287px;
  position: fixed;
}
.viewimg {
  ion-card-header {
    padding: 0px;
  }
}
.viewtitle{
  ion-card-title{
    color:black;
    padding: 0px;
  }
  margin-top: -10px;
  margin-bottom: -10px;
}

.res-option{
  ion-icon{
    margin-right: 5px;
  }
}
.reviewpage{

  padding-left: 12px;
}

.shadowclose{
  width: 50%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  background-color: #f04141;
  height: 56px;
  font-size: 16px;
}
.shadowadd{
  width: 50%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  background-color: #10dc60;
  height: 56px;
  font-size: 16px;
}
.card-content-md {
  background-color: white;
}
ion-tab-button{
  color: #000;
}
.active{
  color: #f04141;;
}