<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      โต้งปลาเผา
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signInWithFB()" *ngIf="!is_login">
        <ion-icon style="zoom:1.5" name="contact"></ion-icon>
        
      </ion-button>
      <ion-button (click)=" login()" *ngIf="is_login">
        <img style="width: 32px;     border-radius: 50%;" src="" [src]="res_data.logo_url" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" [ngStyle]="{'background-image': 'url('+res_data.cover_url+')'}">
  <ion-router-outlet main></ion-router-outlet>
  
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="https://app.deltafood.co/img/logo.png" alt="" />
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{res_data.name}}</h3>
          <h5 class="country">{{res_data.address}}</h5>
        </div>
      </div>
    </div>
   
    <div class="btn-group ion-text-center" style="background-color: #fff;">
      <ion-button (click)="booking()" *ngIf="res_data.btn.booking" style="width: 30%;" expand="full" color="primary">
          จองโต๊ะ</ion-button>
      <ion-button (click)="delivery()" *ngIf="res_data.btn.delivery" style="width: 30%;" expand="full"
          color="secondary">เดลิเวอรี่</ion-button>
      <ion-button (click)="queue()" style="width: 30%;" *ngIf="res_data.btn.queue" expand="full" color="tertiary">จองคิว</ion-button>
    </div>

    <div style="background-color: #fff; padding-top: 10px; margin-top: -10px;">
    <ion-card>
      <ion-card-header style="background-color: #383a3e;">
        <ion-card-title style="color: #fff;">อาหารแนะนำ</ion-card-title>
      </ion-card-header>

      <ion-card-content style="padding: 0px;">
        <div class="slide1">
          <div class="slide2" [ngStyle]="{'width':'calc('+res_data.rec_pro.length+'*154px'}">
            <ion-card class="viewimg" *ngFor="let p of res_data.rec_pro">
              <ion-card-header>
                <ion-img [src]="'https://app.deltafood.co/ci/pic/'+p.pic_id" src="https://app.deltafood.co/img/logo.png" style="width:150px"></ion-img>
                <ion-card-content class="viewtitle" style="padding: 9px 0px 17px 1px;">
                  <ion-card-title class="ion-text-center" style="font-size: 16px;">
                    {{p.name}}
                  </ion-card-title>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
   
    <ion-buttons style="border-bottom: solid;">
      <ion-tab-button (click)="tab=1" [ngClass]="{'active': tab==1}">
        <ion-icon name="image" ></ion-icon>
        <ion-label>รีวิว</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="tab=2"  [ngClass]="{'active': tab==2}">
          <ion-icon name="bookmarks"></ion-icon>
          <ion-label>บริการ</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="tab=3"  [ngClass]="{'active': tab==3}"  >
        <ion-icon name="create"></ion-icon>
        <ion-label>เขียนรีวิว</ion-label>
      </ion-tab-button>
    </ion-buttons>


    <!-- <ion-card [hidden]="tab!=1">
      <ion-card-header>รีวิว</ion-card-header>
    </ion-card>
    <ion-card  [hidden]="tab!=2">
      <ion-card-header>บริการ</ion-card-header>
    </ion-card>
    <ion-card  [hidden]="tab!=3">
      <ion-card-header>เขียนรีวิว</ion-card-header>
    </ion-card> -->
    <ion-card class="res-option" color="light" [hidden]="tab!=2">
      <ion-card-header style="background-color: #383a3e;">
        <ion-card-title style="color: #fff;">รายละเอียดทางร้าน</ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let d of res_data.detail">
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
        <ion-label> {{d}}</ion-label>
      </ion-item>
    </ion-card>




    <div [hidden]="tab!=3">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">ให้คะแนนร้านอาหารนี้</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-icon name="star" style="zoom:2" [color]="rating>=1?'warning':'dark'" (click)="set_rating(1)"></ion-icon>
          <ion-icon name="star" style="zoom:2" [color]="rating>=2?'warning':'dark'" (click)="set_rating(2)"></ion-icon>
          <ion-icon name="star" style="zoom:2" [color]="rating>=3?'warning':'dark'" (click)="set_rating(3)"></ion-icon>
          <ion-icon name="star" style="zoom:2" [color]="rating>=4?'warning':'dark'" (click)="set_rating(4)"></ion-icon>
          <ion-icon name="star" style="zoom:2" [color]="rating>=5?'warning':'dark'" (click)="set_rating(5)"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">เขียนรีวิว</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">หัวเรื่องรีวิว</ion-label>
            <ion-input name="p_title" [(ngModel)]="data1.p_title" type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="font-size: 16pt;">รายละเอียดรีวิว</ion-label>
            <ion-textarea placeholder="เล่ารายละเอียด สิ่งที่อยากจะรีวิวเกี่ยวกับร้าน" name="p_content" [(ngModel)]="data1.p_content"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">รูปภาพ</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <div class="image-preview mb-3" *ngIf="previewUrl">
            <img [src]="previewUrl" width="100%" (click)="openFileBrowser($event)"/>                 
        </div>
          <div >
          <ion-icon (click)="openFileBrowser($event)" [hidden]="showclickimg"   name="cloud-upload" style="font-size: 100px;"></ion-icon>
        </div>
      <div class="form-group">
        <input type="file" name="image" id="uploadfile" (change)="fileProgress($event)"  style="display: none;" />
       
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }
      </div>
      <div class="mb-3" *ngIf="uploadedFilePath">
      {{uploadedFilePath}}
    </div>
        </ion-card-content>
      </ion-card>
      <ion-button color="tertiary" expand="full" style="height: 50px;font-size: 29px;"  (click)="onSubmit()">โพสต์</ion-button>
      </div>



    <ion-row [hidden]="tab!=1">
      <ion-card color="light" *ngFor="let r_view of reviews; let i = index">
        <ion-item>
          <ion-avatar item-start>
            <img 
              src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />
          </ion-avatar>
          <h5 style="padding-left: 10px;">{{r_view.p_title}}</h5>
        </ion-item>

        <img src="https://img.wongnai.com/p/400x0/2017/10/05/4e90bb1a15dc4ad48ff94cbac3dc1925.jpg" height="200px" />
        <ion-card-content>
          <p>
           {{r_view.p_content}}
          </p>
        </ion-card-content>
        <ion-footer>
          <ion-row>
            <ion-col size="4" class="ion-text-center " >
              <ion-icon name="heart" style="zoom:2" [color]="like_post>=1?'primary':'dark'" (click)="likeSubmit(r_view,i)"></ion-icon>{{r_view.like}}
            </ion-col>
            <ion-col size="4" class="ion-text-center" (click)="r_view.show_comment=!r_view.show_comment">
              <ion-icon name="chatbubbles" style="zoom:2"></ion-icon>{{r_view.comment}}
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-icon name="share" style="zoom:2"></ion-icon>1
            </ion-col>
          </ion-row>
        </ion-footer>
          <!--start show comment-->
        <div  [hidden]="!r_view.show_comment" >
          <ion-card style="margin-bottom: -7px; ">
            <div *ngFor="let c_comment of r_view.all_comment" style="margin-bottom: -6px;">
              
            <ion-card-header style="background-color: white;border-bottom: solid;border-width: thin;border-color: gray;margin-top: -4px;">
              <ion-avatar item-start>
                <img style="width: 50px; height: 50px;"
                  src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />
              </ion-avatar>
              <h5 style="padding-left: 10px;position: absolute;left: 77px;margin-top: -50px;">นายโต้งปลาเผา</h5>
            </ion-card-header>
            <ion-card-content>
              <p color="light" style="margin-left: 64px;margin-top: -30px;" >
                {{c_comment.c_content}}
               </p>
            </ion-card-content>
            </div>
            <ion-item style="margin-top: 2px; margin-bottom: 7px;">
              <ion-input placeholder="เขียนรีวิว" style="border: solid;border-radius: 50px;border-width: thin;" name="c_content" [(ngModel)]="r_view.c_content"></ion-input>
              <ion-icon name="arrow-forward" style="font-size: 40px; padding-left: 8px;" (click)="ConSubmit(r_view,i)"></ion-icon>
            </ion-item>
          </ion-card>
        </div>
      </ion-card>
    </ion-row>
  </div>
  <ion-menu side="end" menuId="custom" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>โปรไฟล์</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card style="height: calc(100vh - 113px);margin: 0px;">
        <ion-card-header>
          <ion-item>
            <ion-avatar item-start>
              <img
                src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />
            </ion-avatar>
            <h5 style="padding-left: 10px;">นายโต้งปลาเผา</h5>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item style="color: #3880ff;">
              <ion-icon name="logo-facebook" style="zoom:2;color: #3880ff;"></ion-icon>Facebook
            </ion-item>
            <ion-item style="color: #f10e78;">
              <ion-icon name="logo-instagram" style="zoom:2;color: #f10e78;"></ion-icon>Instagram
            </ion-item>
            <ion-item style="color: #09d809;">
              <ion-icon name="call" style="zoom:2;color: #09d809;"></ion-icon>Phone
            </ion-item>
            <ion-item>แก้ไขโปรไฟล์<ion-icon name="arrow-dropright" slot="end" style="zoom:2"></ion-icon>
            </ion-item>
            <ion-item>ออกจากระบบ</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-menu>
</ion-content>