.shadowadd{
    width: 100%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #7044ff;
    height: 56px;
    font-size: 25px;
}
ion-content{
    --ion-background-color:#c6c6c7a3;
}
.sc-ion-card-md-h {
  --ion-background-color: white;
}
.inputcheck{
  background-color: rgba(127, 137, 138, 0.952);
  border-radius: 5px;
}