<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="show=!show" class="ion-text-center">
      กรอกข้อมูลการจองโต๊ะ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="--ion-background: white">
    <ion-card-content style="padding: 0px;">
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*ชื่อ-นามสกุล</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_name}}"   name="b_name" class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*ชื่อเล่น</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_nickname}}"  class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*เบอร์โทร</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_phone}}"  class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*จำนวนคน</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_number}}" class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*วัน/เดือน/ปี</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_date}}" class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*เวลา</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_time}}" class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*รายละเอียดอื่นๆ</ion-label></ion-col>
        <ion-col size="8"><ion-textarea class="bookorder" value="{{d.b_detail}}"  readonl></ion-textarea></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*ค่าจองโต๊ะ</ion-label></ion-col>
        <ion-col size="8"><ion-input value="{{d.b_checkbook}}"  class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="4"><ion-label position="fixed">*ค่าอาหาร</ion-label></ion-col>
        <ion-col size="8"><ion-input style="text-align: end;" value="{{sum.sum_all}} บาท" name="sum_all" [(ngModel)]="d.sum_all"  class="inputcheck"></ion-input></ion-col>
      </ion-item>
      <ion-item>
        <ion-card-content>
         ชำระเงินค่าอาหารและจองโต๊ะผ่านเลขบัญชี <b style="color: green;">0181214414</b> ธ.กสิกรไทย นายไตรรงค์  จำปานิล
        </ion-card-content>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">แนบสลิป</ion-label>
        <div class="ion-text-center" style="padding-left: 85px;"><ion-icon (click)="openFileBrowser($event)"  name="cloud-upload" style="font-size: 75px;"></ion-icon>
          <input type="file" style="display: none;" id="uploadfile" class="hide-style" name="tenantPhotoId" (change)="onFileChange($event)"></div>
          
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons>
      <ion-button  class="shadowadd" expand="full"  (click)="save_order()">ยืนยันจองโต๊ะ</ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-footer>