<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ประวัติการซื้อของคุณ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon style="zoom: 2;position: absolute;right: 1px;margin-top: -8px;" name="close-circle" color="danger" ></ion-icon>
      <img style="width: 50px; height: 50px;border-radius: 50%;margin-top: 0px; margin-bottom: 3px;"
      src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />

      <ion-card-title style="position: absolute;left: 82px;margin-top: -40px;">trairong  jampanil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon style="zoom: 2;position: absolute;right: 1px;margin-top: -8px;" name="close-circle" color="danger" ></ion-icon>
      <img style="width: 50px; height: 50px;border-radius: 50%;margin-top: 0px; margin-bottom: 3px;"
      src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />

      <ion-card-title style="position: absolute;left: 82px;margin-top: -40px;">trairong  jampanil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon style="zoom: 2;position: absolute;right: 1px;margin-top: -8px;" name="close-circle" color="danger" ></ion-icon>
      <img style="width: 50px; height: 50px;border-radius: 50%;margin-top: 0px; margin-bottom: 3px;"
      src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />

      <ion-card-title style="position: absolute;left: 82px;margin-top: -40px;">trairong  jampanil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon style="zoom: 2;position: absolute;right: 1px;margin-top: -8px;" name="close-circle" color="danger" ></ion-icon>
      <img style="width: 50px; height: 50px;border-radius: 50%;margin-top: 0px; margin-bottom: 3px;"
      src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t31.0-8/p960x960/20424319_1324510757647057_3707771089875848024_o.jpg?_nc_cat=110&_nc_oc=AQnzEWQ0R2txcpEsg01kjdjV1XSfI8eZJTHjv6B_NXDQW1YirgnpsizZT3yaeOhp1mBCpn6EnCEFudlul_aqkPAr&_nc_ht=scontent.fkkc3-1.fna&oh=6c7544b13e8ce5cfe8f82940a6255d56&oe=5EA30A0A" />

      <ion-card-title style="position: absolute;left: 82px;margin-top: -40px;">trairong  jampanil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
</ion-content>