<ion-content>
  <div class="content">
    <ion-header>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="2" class="arrow-back" routerLink="/deltafood/config">
              <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
            </ion-col>
            <ion-col size="10" id="head_title">
              เพิ่มที่อยู่จัดส่ง
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <div>
      <ion-button (click)="linkAdress('add_address')">
        <i class="fas fa-globe"> เพิ่มที่อยู่</i>
      </ion-button>
    </div>
    <div>
      <ion-card *ngFor="let item of [1,2,3,4]">
        <div (click)="linkAdress('detail_address')">
          <ion-card-header>
          <ion-card-title>
            Name : loacation
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Detail Location : 
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        </div>
        
      </ion-card>
    </div>
  </div>
</ion-content>
