.my-custom-menu {
  --width: 200px;
}
.sc-ion-card-md-h {
  margin-inline-start: 10px;
  margin-inline-end: 4px;
  margin-inline-start: 4px;
}
.badge-item {
  position: absolute;
  right: 1px;
  background-color: blue;
}
ion-list {
  padding: 0px;
  position: absolute;
  width: 100%;
}
ion-searchbar {
  position: absolute;
  width: 100%;
  padding: 0px;
}
.productname {
  position: absolute;
  bottom: 35px;
  font-size: 18px;
  padding: 10px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.75) 80%);
  color: #fff;
  width: 100%;
}
.btn-con {
  ion-button {
    margin-top: -10px;
  }
}
ion-card-content {
  padding: 0;
}
.count {
  width: 30px;
  display: inline-block;
  font-size: 20px;

  text-align: center;
}
ion-card {
  margin: 5px;
}
.next {
  margin-right: 5px;
}
ion-content{

  --ion-background-color:#c6c6c7a3;
}