<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>รายการอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="item-native" color="white" style="margin-bottom: -1px;"> 
      <ion-col size="4">
        <ion-img
          src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <h6 class="viewnameproduct"><b>[2]</b> ปลาเผา ไก่ย่าง ส้มตำ</h6>
      </ion-col>
      <ion-col size="4" >
        <div style="width: 100%;position: absolute;right: -16px;margin-top: -34px;">
          <div class="btn-con ion-text-center" slot="end">
            <ion-button color="success" size="small" (click)="qedit()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <p style="position: absolute;right: 0px;">รวม
       <ion-badge color="success" >44 ฿</ion-badge>
        </p>
      </ion-col>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title slot="start">
     <h6>ราคารวม : 5000.00 บาท</h6> 
    </ion-title>
    <ion-button (click)="cart()" color="success" slot="end" class="next">
      <ion-title>
        <h6 style="margin-top:10px">ชำระเงิน</h6>
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-footer>
