<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <!-- <ion-icon name="arrow-dropdown" style="zoom:2"></ion-icon> -->
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      ปลาเผา
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart" style="zoom:1.5;"></ion-icon>
        <ion-badge color="danger">10</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" expand="full" style="width: 30%;position: absolute;right: -1px;margin-top: 0px;font-size: 5vw;">150 บาท</ion-button>
  <img  src="https://app.deltafood.co/upload/server/php/files/medium/150704477634320.jpg" width="100%"/>
  <ion-card>
    <ion-card-header style="background-color: #3c3f45;">
      <ion-card-title style="color: white;">เส้น<p class="selectlist">เลือกได้ 1-2 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 0px;margin-bottom: -9px;" >
      <ion-list style="--ion-background-color: white">
        <ion-item style="margin-top: -10px;" >
          <ion-label style="margin-bottom: 0px;">เส้นเล็ก</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
        <ion-item >
          <ion-label style="margin-bottom: 0px;">เส้นใหญ่</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
        <ion-item >
          <ion-label style="margin-bottom: 0px;">เส้นหมี่</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color: #3c3f45;">
      <ion-card-title style="color: white;">เนื้อ<p class="selectlist">เลือกได้ 1-1 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 0px;margin-bottom: -9px;">
      <ion-list style="--ion-background-color: white">
        <ion-item style="margin-top: -10px;" >
          <ion-label style="margin-bottom: 0px;">เนื้อ</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
        <ion-item >
          <ion-label style="margin-bottom: 0px;">หมู</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color: #3c3f45;">
      <ion-card-title style="color: white;">น้ำ<p class="selectlist">เลือกได้ 1-1 รายการ</p></ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 0px;margin-bottom: -9px;">
      <ion-list style="--ion-background-color: white">
        <ion-item style="margin-top: -10px;">
          <ion-label style="margin-bottom: 0px;">น้ำใส</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
        <ion-item >
          <ion-label style="margin-bottom: 0px;">น้ำตก</ion-label>
          <ion-checkbox slot="end" style="margin-bottom: 0px;" ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list style="--ion-background-color: white">
    <ion-item>
      <ion-label color="222428">คอมเม้น</ion-label>
      <ion-input placeholder="comment" style="margin-left:50px"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="222428">จำนวน</ion-label>
      <ion-input style="margin-left: 60px;" type="number" value="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="222428">ราคาสุทธิ</ion-label>
      <ion-input style="margin-left: 50px;" value="30 บาท" readonly></ion-input>
    </ion-item>
  </ion-list>
  <div class="">
  <ion-button expand="full" color="primary" class="shadow-red" shape="round">บันทึก</ion-button>
</div>
</ion-content>
