<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="arrow-back" (click)="close(condition_close)">
          <ion-icon name="arrow-back" size="large" style="width: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="8" id="head_title" style="text-align: center;">
          สถานที่จัดส่ง
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement class="map" style="height: 100%;">
  </div>
  <div style="position: absolute;bottom: 20px;width: 100%;text-align: center;">
    <ion-button (click)="calDelivery()">ยืนยันสถานที่จัดส่ง</ion-button>
  </div>
</ion-content>

